[2020-12-16 14:22] marcnunezc opened #7990 "To-do After Release ParMmg"
**Description**
Some pending tasks after #7728 and Release 8.1.

**TODO**
- [ ] Add python pmmg_process.py script
- [ ] Add pmmg_io
- [ ] Improve test chekcing of mmg/parmmg installations https://github.com/KratosMultiphysics/Kratos/pull/7808#discussion_r528567655
-  [ ] Use MPI from datacommunicator https://github.com/KratosMultiphysics/Kratos/pull/7808#discussion_r544188556
-  [ ] Check if it is

[2020-12-16 14:22] marcnunezc commented on #7728
Closing this one and continuing in #7990

[2020-12-16 14:22] #7728 closed

[2020-12-16 15:19] KlausBSautter commented on #4479
I will look into it again the following days

[2020-12-16 16:25] rubenzorrilla commented on #4479
Thanks!!!

[2020-12-16 21:04] giacomoperino opened #7993 "Adding external forces on DEM-FEM boundaries in Kratos DEM"
Hi to everyone, I am new to GitHub and I am very pleased to join.

I am using Kratos 7.1.5 in particular the DEM pack, doing the pre and post processing on Gid 15.0.1.

I am working on a model to analyse the railway ballast behavoir. So I have created the ballast as DEM material and the concrete sleepers. The concrete sleepers are DEM-FEM boundaries, with free body motion, so I have applied forces

[2020-12-17 11:18] joaquinirazabal commented on #7993
@KratosMultiphysics/dem

Hi @giacomoperino, thank you for your comment, I checked and you are right, the External Forces are not being written correctly, not in Kratos Kratos 7.1.5 nor in Kratos 8.1.0. For the moment, you can add the appropriate line in the DEM-FEMboundary-mdpa file:

Begin SubModelPart 4 // DEM-FEM-Wall - group identifier: 1
Begin SubModelPartData // DEM-FEM-Wall. Group name: 1
R

[2020-12-17 16:20] giacomoperino commented on #7993
Thank you very much @joaquinirazabal !

[2020-12-17 17:22] uxuech opened #8001 "Error compiling Kratos with gcc 10.2.0 version"
Hi everyone!

I have sincronized Kratos **master branch** today and when I was compiling it I got compilation error. I am using _gcc_ version **10.2.0** in Ubuntu **20.10.**

**Error type**
` g++: fatal error: killed signal terminated program cciplus`

I would appreciate if anyone can check it.
Thank you
Uxue

[2020-12-18 08:49] philbucher opened #8003 "AMGCL should accept settings in AMGCL format"
in my recent discussions with @ddemidov I realized that it would be good for the amgcl solver (meaning the [wrapper in Kratos](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/linear_solvers/amgcl_solver.h)) to be able to accept settings in AMGCL format. This way if new settings become available in AMGCL we could even use them before adding them to our interface. I think this can be

[2020-12-18 10:35] KlausBSautter commented on #4479
@rubenzorrilla I could not find the error in the kratos code. I am now re-implementing it on python level in hope to find the error this way. I'll keep you updated

[2020-12-18 11:47] maceligueta commented on #7993
Hi @giacomoperino ,  thanks for reporting the bug. For faster response from the DEM team, make sure you tag us in the text (adding @KratosMultiphysics/dem in any spot in the text we get a notification in our email inbox).

[2020-12-18 14:46] rubenzorrilla commented on #4479
I'm afraid it could be related to the convergence criteria. I mean that when we start from a zero residual position (i.e. we iterate from an equilibrium position) it doesn't manage to get out of the iteration loop. Could this be the reason?

[2020-12-18 15:42] giacomoperino commented on #7993
@KratosMultiphysics/dem thank you very much. I solved the previous problem with the help of @joaquinirazabal

I am running a simulation by command prompt on windows and I have this message error:

ModelPartIO:   [Reading Nodes    : 102028 nodes read]
ModelPartIO:   [Reading Elements : Traceback (most recent call last):
  File "MainKratos.py", line 33, in <module>
    DEMAnalysisStageWithFlush(mode

[2020-12-18 15:52] joaquinirazabal commented on #7993
Hi @giacomoperino the problem is this line in the DEM.mdpa

Begin Elements ContactInfoSphericParticle3D

You are trying to use an element that it was not registered in Kratos in previous versions. It was my fault, the files in the files I sent you I made that mistake.

Change that line to:

**Begin Elements SphericParticle3D**

It should work.

[2020-12-18 15:53] maceligueta commented on #7993
Hi, it could be that this element (ContactInfoSphericParticle3D) was added to Kratos between version 7.0 and 7.1. It is not one of the oldest elements, so maybe it was not being registered by the time we released Kratos 7.0.
I can't think of any other possible cause, as the registration of an element is pretty simple and should work fine when reading an mdpa file.

[2020-12-18 15:54] maceligueta commented on #7993
I see that you said the same thing, @joaquinirazabal

[2020-12-18 16:10] giacomoperino commented on #7993
Ok, I thought it was something like this
Now it works
Thank you very much @maceligueta @joaquinirazabal wish you a nice week-end :) 💯

[2020-12-18 17:13] pau-mar opened #8011 "Midpoint values in shock_capturing_process.h"
When computing shock sensors for shock capturing methods, the following variable in line 285 of shock_capturing_process.h

midpoint_tot_ener = 0.5 * midpoint_rho * inner_prod(r_midpoint_v, r_midpoint_v)

happens to be zero when the velocity vector r_midpoint_v is null and there is not a Thermally Coupled Formulation. In such a case the critical temperature used to compute the critical sound veloci

[2020-12-18 17:18] rubenzorrilla commented on #8011
Going for (2). Indeed the current version is not completely correct as we are omitting the pressure in the isothermal version of the process. We should also consider the null energy value for the zero initial condition case (which is valid in the incompressible framework).

[2020-12-19 10:01] maceligueta commented on #7993
Hey @joaquinirazabal, I am trying to fix the bug reported by @giacomoperino initally in the GiD GUI.
I just double checked that it is possible to write (in the `mdpa `file) something like:
[code]
Apart from the classic version:
`EXTERNAL_APPLIED_FORCE [3] (100, 100, 100)`

This means that we can write the force component by component, as it is presented in the GUI.

However, I don't think we shoul

[2020-12-21 07:42] joaquinirazabal commented on #7993
Hi @maceligueta, in this moment you can impose the forces in Kratos by value:
EXTERNAL_APPLIED_FORCE [3] (100, 100, 100)
or by table:
TABLE_NUMBER_FORCE [3] (1,2,3)

I am not sure which is the best way to write this in the .mdpa from the GUI, but now is working if you write it manually.

[2020-12-21 09:03] philbucher commented on #7957
does it work when you comment the hash_range related things?

[2020-12-21 09:03] philbucher commented on #8001
Hi @uxuech
Could you please post the entire log and your configure file?

[2020-12-21 10:08] PhiHo-eng commented on #7957
Hi @philbucher, yes that worked. But I am not sure yet how to implement the hash_range - "function" back in the program!

[2020-12-21 11:16] philbucher commented on #7957
Looking at your code I think you could either refactor completely (e.g. using the [SkinDetectionProcess](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/processes/skin_detection_process.h)
Or take a look here, maybe you can use this instead: https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/includes/key_hash.h

[2020-12-21 11:54] PhiHo-eng commented on #7957
I used the key_hash.h. It seems to work now. I am able to import TopOpt - App in python. Thanks you for your help @philbucher !

[2020-12-21 11:54] #7957 closed

[2020-12-21 14:02] riccardotosi opened #8017 "FluidDynamicsApplication tests failing in CI"
**Description**
In PR #8016, which is a PR completely unrelated with respect to the FluidDynamicsApplication, FluidDynamicsApplication tests failed:
[code]

I tag @KratosMultiphysics/fluid-maintainers.

**Scope**
Where in Kratos is this bug happening.
- FluidDynamicsApplication

**To Reproduce**
Should be enough to open a pull request.

**Expected behavior**
CI to pass correctly, since #8016 is un

[2020-12-21 16:50] maceligueta commented on #7993
I think this is a good opportunity to write it as a `Process`, just like the rest of Kratos do. We should allow a constant value, a table or an analytical function for each component independently.
Let's leave this issue open as a reminder that a process must be implemented and the GUI must write this process [pending task].

[2020-12-21 18:47] philbucher commented on #7993
I think those processes already exist in the core

[2020-12-22 09:16] ddemidov commented on #8001
Looks like the compiler ran out of memory.

[2020-12-22 09:36] marcnunezc commented on #8017
Since it is complaining about running out of time, it might have just been an unlucky  run of the tests (like github machines being temporarily slower for some reason?)

[2020-12-22 09:37] riccardotosi commented on #8017
Yes I believe the same, however I thought it was worth reporting.

[2020-12-22 10:44] riccardotosi commented on #8017
It happened again in #7973.
![Cattura](https://user-images.githubusercontent.com/43809717/102880039-04481180-444b-11eb-8be3-5286c693c571.PNG)

[2020-12-22 12:32] marcnunezc commented on #8017
It also happened in #8021 , this time with the DEMApp.

![image](https://user-images.githubusercontent.com/32136457/102888971-0ebdd780-445a-11eb-84fa-0ae4499afc86.png)

@philbucher  do you think this might have to do with the timing changes you did recently?

[2020-12-22 14:43] philbucher commented on #8017
Did I do timing changes recently?
Don’t think so. Can you point to what you are referring to?
In my experience many test suites are at the time limit for a while already. So if for some reason the machines are a bit slower than usual the tests fail
Btw I think github was updating some stuff recently, might be related. In any case we should keep a close eye

recently I added support for timing in t

[2020-12-22 14:48] marcnunezc commented on #8017
Sorry, I was referring to this, in #7818. I see it is not something affecting the CI.

[2020-12-22 15:17] rubenzorrilla commented on #8017
Just mentioning that I'm on it right now.

[2020-12-22 15:20] #8011 closed

[2020-12-22 15:40] philbucher commented on #8017
Ah ok thats what you meant
This is only a minor improvements  with which you can find the slowest tests in a test suite (as I mentioned above)

[2020-12-23 08:20] rubenzorrilla opened #8024 "AMGCL NS verbosity"
**Description**
After the changes in #7999 the `AMGCL_NS_Solver` prints the iterations and residual norms by default. Switching `verbosity` to 0 doesn't hide this information. IMO this is too verbose for the majority of the cases (specially when running the cases) and is not in line with our "standard" for zero verbosity.

Would it be possible to switch this information output off?

[2020-12-23 08:24] mpentek opened #8025 "[HPC][Intel] Compilation on HPC seems to need -qopenmp flag"
**Description**
Compilation of the recent master seems to need an additional flag `-qopenmp`. My setup on is the same and the modules used in the HPC environment did not change recently.

`-DCMAKE_CXX_FLAGS="-qopenmp [...]`

**Scope**
- Compilation
- KratosCore
- MPI
- HPC cluster
- Intel

Which recent change(s) makes this necessary? Is this the expected behavior?

I was first getting the errrors

[2020-12-23 08:26] rubenzorrilla commented on #8017
The adjoint sensitivity test and the manufactured solution tests are taking around the 50% of the total time in my machine (around 25% and 25%). The manufactured solution test can be moved without any doubt to the validation suite.

@sunethwarna If you consider that it is impossible to make it faster, IMO we should do so with the sensitivity one.

[2020-12-23 08:46] RiccardoRossi commented on #8024
the point is that there is a kratos verbosity and a onner_settings
verbosity.

we can switch off tje kratos one, but the internal one jas to be set in the
inner settings

On Wed, Dec 23, 2020, 9:20 AM Rubén Zorrilla <notifications@github.com>
wrote:

[2020-12-23 08:54] rubenzorrilla commented on #8024
And couldn't we make such inner verbosity to print nothing by default as the rest of linear solvers in Kratos?

[2020-12-23 09:28] ddemidov commented on #8024
This needs to be false by default:

https://github.com/KratosMultiphysics/Kratos/blob/9b3e4eed2415295d83b1c28709b5b15e6011cf0c/kratos/linear_solvers/amgcl_ns_solver.h#L83

[2020-12-23 09:30] sunethwarna commented on #8017
I'll try to make it faster, if not I will move it to validation suite today :)

[2020-12-23 09:33] RiccardoRossi commented on #8024
yes we can default.it to.zero, but if the uaer sets it, we cannot mute it

On Wed, Dec 23, 2020, 9:54 AM Rubén Zorrilla <notifications@github.com>
wrote:

[2020-12-23 09:38] ddemidov commented on #8024
If the user sets it, this means they need it, no?

[2020-12-23 09:41] RiccardoRossi commented on #8024
yes, the only problem.is that it needs tp be set in two different places,
once in the "inner_settings" and once in the general kratos_parameters for
tje linear solver

On Wed, Dec 23, 2020, 10:39 AM Denis Demidov <notifications@github.com>
wrote:

[2020-12-23 09:55] ddemidov commented on #8024
Something like #8026 should work then

[2020-12-23 09:56] rubenzorrilla commented on #8024
I think so. Thanks @ddemidov !

[2020-12-23 11:26] #8024 closed

[2020-12-23 14:21] AlejandroCornejo opened #8030 "[Windows] Compilation ERROR"
Hi all,

I've updated the master and some errors arised:

test_nurbs_curve.obj : error LNK2001: sÝmbolo externo "public: virtual void __cdecl Kratos::ConstitutiveLaw::CalculateMaterialResponse(class boost::numeric::ublas::vector<double,class boost::numeric::ub
las::unbounded_array<double,class std::allocator<double> > > const &,class boost::numeric::ublas::matrix<double,struct boost::numeric::ubla

[2020-12-23 15:42] RiccardoRossi commented on #8030
vicente recemtly.removed something that was deprecated in the cl...maybe
that is the reason

On Wed, Dec 23, 2020, 3:21 PM Alejandro Cornejo Velázquez <
notifications@github.com> wrote:

[2020-12-23 16:16] philbucher commented on #8030
Have you tried a clean compilation?

[2020-12-23 16:26] philbucher commented on #8025
I will open a PR to fix it, this id a known issue

[2020-12-24 09:15] AlejandroCornejo commented on #8030
Doing it just in case!!

[2020-12-25 07:35] #8017 closed

[2020-12-27 11:01] AlejandroCornejo commented on #8030
As most of the cases you were right ;) now it compiles for some weird reason

[2020-12-27 11:01] #8030 closed

[2021-01-05 03:55] sweety2142 opened #8041 "[ContactStructuralMechanics] Problem AxisymSmallDisplacementElement"
I have being setting up the problem for Contact with Axisymmetric Element using ContactStructuralMechanicsApplications
with LinearElasticAxisym2DLaw

==================================
Begin Properties 0
End Properties

Begin Nodes
    1        5.00000        0.00000        0.00000
    2        10.0000        0.00000        0.00000
    3        10.65000       5.00000        0.00000
    4        5.

[2021-01-05 09:34] loumalouomega commented on #8041
The problem is that the solid element axisymmetric does not work, therefore the contact cannot work.

[2021-01-05 09:35] loumalouomega commented on #8041
More exactly, it is the CL for axisymmetric problems

[2021-01-05 22:37] sweety2142 commented on #8041
Okay, I understood the situation about CL problem. When axisym-contact application will develop?

[2021-01-06 19:21] Mariveros opened #8042 "Configure Kratos issue"
Hello everybody, I'm trying to install Kratos on Linux (CentOS 7),  specifically the PfemFluid module but I got an error. When I try to install PfemFluidDynamicsApplication it shows me an error ( I'll post it below) also it occurs with  FluidDynamicsApplication.

In the past, I work with Kratos perfectly without a problem during installation but now I got this message. I hope you can give me some

[2021-01-06 22:24] SADPR opened #8043 "Installation or compilation error Kratos. GNU 10.2.0. Manjaro Linux."
**Description**
I compiled Kratos today to check some small changes on a process and now it seems like it didn't compile correctly. This is the first time that happens to me.
------------------------------------------------------------------------------------------------------
 i.e.
from KratosMultiphysics import *
-----------------------------------------------------------------------------------

[2021-01-06 23:25] sunethwarna commented on #8043
I am also using Manjaro Linux with gcc 10.2.0, it is working for me.

[2021-01-07 10:48] SADPR commented on #8043
Thanks a lot @sunethwarnawith you configure file I was able to compile it correctly.

[2021-01-07 10:48] #8043 closed

[2021-01-08 11:39] rubenzorrilla commented on #7713
Ping @KratosMultiphysics/implementation-committee

Summarizing things to be discussed:

- [ ] Remove `ProcessInfo` argument from `ModelPart` `Check` method.
- [ ] Who checks the `Elements`, `Conditions`, `Constraints`, etc? Through the strategy as we do know or should we start using the `ModelPart` check?

[2021-01-08 11:46] rubenzorrilla commented on #6383
@uxuech pinging you as this discussion is most probably useful for your research. In any case, I'm closing it as it has been inactive for almost one year.

[2021-01-08 11:46] #6383 closed

[2021-01-08 16:12] maceligueta opened #8051 "Runtime problems loading ExternalSolversApplication"
**Description**
This is a recurrent problem in Windows, which has been experimented by me in the past, but also @salvalatorre a few months back, also @AlejandroCornejo  and many other people, as it can be found if you google "ExternalSolversApplication".
Usually, this gets solved by a phone call to @roigcarlo , who suspects what the problem may be, and recommends actions.
The specific problem I am

[2021-01-08 16:33] philbucher commented on #8051
I strongly recommend switching to the LinearSolversApplication
the ExternalSolversApp is implicitly deprecated

Is there any specific solver or other reason you are using it?

[2021-01-08 16:52] AlejandroCornejo commented on #8051
Imagine if it is problematic that I am not compiling it anymore... I'm using the `LinearSolversApplication`

[2021-01-08 16:56] maceligueta commented on #8051
Well, I just tried to run a case with the Structural Mechanics Application and it was importing the ExternalSolversApplication somehow...

[2021-01-08 16:58] AlejandroCornejo commented on #8051
With the latests version of the GUI?? if you open the `MainKratos.py` you should remove the import ExternalSolversApplication

[2021-01-08 17:00] philbucher commented on #8051
I changed this over 2.5 years ago :sweat_smile: https://github.com/KratosMultiphysics/GiDInterface/commit/4413be723795c0b7c9085ad077c9f1758ba4339c#diff-3ce4a8425bb869dfea19e8bd08015708e44e7f08d885ba14f9d09ec8b76b4698

[2021-01-09 00:03] maceligueta commented on #8051
Ok, I am afraid I had no clue about the implicit deprecation of the ExternalSolversApplication. And I was not even compiling it, actually, but somehow, the code reached this line:
https://github.com/KratosMultiphysics/Kratos/blob/8f752f360d973bf68d18695969055f453494ba17/kratos/python_scripts/python_linear_solver_factory.py#L41
When I saw that the ExternalSolversApplication was 'necessary' I added

[2021-01-09 15:53] maceligueta commented on #8051
I seems like this is solved by using LinearSolversApplication instead of ExternalSolversApplication. If none of them is compiled I am getting a crash. Maybe the Structural Mechanics App should require the LinearSolversApplication always. Anyways, this is an independent issue. Closing and thanks for the help @philbucher .

[2021-01-10 10:17] sagoxcii opened #8053 "missing variable values in vtk output for structural shell problem"
**Description**

I am calculating a simple static structural problem using the ShellThinElementCorotational3D4N element. The problem runs without any error messages. A vtk output file is produced but the solution values for the variables SHELL_FORCE_GLOBAL and SHELL_MOMENT_GLOBAL are missing in the vtk output file. The solution values for all of the other defined variables are present. I am using

[2021-01-10 18:29] philbucher commented on #8051
Hm that is strange
I thought/hoped this would be bulletproof 😅
@maceligueta can you please share the error message and if possible your configuration?

[2021-01-11 07:59] KlausBSautter commented on #4479
@rubenzorrilla I re-implemented the beam on python level with two different approaches to update the rotation angles. I get the same strange behavior as in KRATOS. Unfortunately I cannot find the error right now but I will keep looking into it.

[2021-01-11 08:24] rubenzorrilla commented on #4479
OK! Many thanks for the effort!

[2021-01-11 09:07] maceligueta commented on #8051
Correction:  **it does not crash** (so not SegFault), it just stops. Sorry about the confusion.
If I delete all files starting with LinearSolversApplication*.* (3 files) from the libs folder, and also the ExternalSolversApplication*.* file, I get:
[code]
From GiD, what I first saw was this:
[code]
Which gives no warning messages and you don't know what to do unless you read the error window (code

[2021-01-11 09:23] philbucher commented on #8051
ok thx
I think what is failing in your case is that you still have the python-files of the `LinearSolversApp` but you deleted the libs (hence the import fails)
we use [CheckIfApplicationsAvailable](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/kratos_utilities.py#L58-L62) in [here](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/pytho

[2021-01-11 09:36] maceligueta commented on #8051
That is correct, in the KratosMultiphysics folder there is a subfolder called `LinearSolversApplication`. If I delete this one (along with the libraries in `libs/`) it runs fine.

[2021-01-11 09:38] maceligueta commented on #8051
If the LinearSolversApplication is compiling and working well, maybe the StructuralApplication should require the LinearSolversApplication always.

[2021-01-11 09:46] philbucher commented on #8051
but why?
Lets say I want to use amgcl (which is in the Core) then I don't want/need to compile any other App

[2021-01-11 10:22] maceligueta commented on #8051
Forget it, I was thinking of a conversation with Riccardo where he said the difference in performance was very big when comparing core vs ExternalSolvers. Several years back. If this has changed, my comment makes no sense.

[2021-01-11 10:41] philbucher commented on #8051
ok then I guess we can close this :)

BTW another reason for not requiring the LinearSolversApp is bcs it cannot be used in MPI, there we currently use Trilinos Solvers

[2021-01-11 10:41] #8051 closed

[2021-01-11 10:44] philbucher opened #8055 "How to document AMGCL settings for Structural Problems"
@KratosMultiphysics/structural-mechanics
as discussed in #7846, we should find a way to document settings for amgcl
 which work for structural problems
esp in MPI amgcl is pretty much the only properly working solver we support

related: #7901, esp [my comment](https://github.com/KratosMultiphysics/Kratos/pull/7901#issuecomment-737848082)

[2021-01-11 10:53] philbucher commented on #7381
ping @KratosMultiphysics/all

3 weeks left until the old interfaces will be removed

[2021-01-11 15:31] rubenzorrilla commented on #3959
@uxuech pinging you as this might be of your interest. Closing as it has been inactive for almost one year. Feel free to reopen if required.

[2021-01-11 15:31] #3959 closed

[2021-01-11 18:49] Mariveros commented on #8042
Solved. I re-install Linux but Ubuntu instead of centOS. The problem was the version of boost and CMake installed through yum.

[2021-01-11 18:49] #8042 closed

[2021-01-11 21:56] maceligueta opened #8061 "[core] How to detect if the Python version I am using is the same version used to compile Kratos"
**Description**
Maybe this was discussed previously (I am not aware of it), but definitely keeps giving small problems to developers.
Provided a developer has different versions of Python3 (for a number of possible reasons), it can happen that Kratos is compiled against one of the versions but accidentally run with another one. In that case, the Kratos libraries might not be loadable. It happened

[2021-01-12 09:14] maceligueta commented on #8061
I just found an interesting CMake command:
https://cmake.org/cmake/help/latest/command/configure_file.html
The Kratos `__init__.py` file can be configured from a template by CMake at compile time.

[2021-01-12 09:17] loumalouomega commented on #8061
In my personal experience the python macros of CMake can be troublesome, sometimes does not detect at all. For example I use the following to ensure that python3 is used:

[code]

[2021-01-12 09:18] loumalouomega commented on #8061
You can adapt it using also PYTHON_VERSION_MINOR

[2021-01-12 11:22] maceligueta commented on #8061
We could have a file called `__init__.py.template` containing the same as `__init__py` has now, but adding this:

[code]

CMake would substitute the values accordingly and the result could be saved as `__init__.py` in the build folder.

[2021-01-12 11:46] loumalouomega commented on #8061
There is a way to CMake to replace values automatically

[2021-01-12 11:53] loumalouomega commented on #8061
The command CONFIGURE_FILE replaces the defined variables

In the python script the variables must be defines like: test_name = "@test_name@"

[2021-01-12 11:57] marcnunezc opened #8062 "[Core][TODO] StructuredMeshGeneratorProcess does not create conditions"
**Description**
@pooyan-dadvand @rubenzorrilla, not sure if you were aware of this. Creating the issue also as a to-do reminder for myself.

The process only creates new elements. From the python interface it seems it would also create conditions but it does not. There is the option to create a "skin" model part, but it is filled only with the nodes of the boundary, without conditions.

**TODO**
-

[2021-01-12 11:58] loumalouomega commented on #8062
You can combine it with the SkinGenerationProcess

[2021-01-12 12:04] loumalouomega commented on #8062
It theory it generates the skin with the option ""create_skin_sub_model_part" : true,"

[2021-01-12 12:13] loumalouomega commented on #8062
I did a fast PR (not even check it, but my aracnosense says it will work) so we can discuss there

[2021-01-12 12:18] rubenzorrilla commented on #8062
Aracnosense failed. The entire CI crashes :smile:

[2021-01-12 12:19] loumalouomega commented on #8062
I forget the template argument, maybe I have an ant-sense

[2021-01-12 12:22] maceligueta commented on #8061
The link to configure_file is a few lines above, Vicente.

[2021-01-12 12:23] loumalouomega commented on #8061
...

[2021-01-12 14:59] KlausBSautter commented on #4479
@rubenzorrilla
I tried another formulation and this allows me to do simulations that had problems before with the current beam .....
I have not tried it yet with a dynamic case but I implemented the mass matrices too.

Especially the roll-up case at the beginning of this discussion **now** works in all possible direction

The element is on this branch:
https://github.com/KratosMultiphysics/Kratos/

[2021-01-12 15:30] KlausBSautter commented on #4479
![a](https://user-images.githubusercontent.com/26179700/104335165-70221500-54f3-11eb-9f85-43bf2da2a0ab.gif)

[2021-01-12 16:31] emiroglu opened #8064 "Out of range error in Eigenvalue Solvers with big models"
I have a structural model with about 3.6 million DOFs using volume, shell, truss and nodal elements. In addition, I am using master-slave constraints.

I have tried using both Eigen and FEAST solvers for solving for the eigenvalues, but it wasn't successful yet. The problems I am facing are usually related to a segmentation fault that stems from an index going out of range in the matrix class. I h

[2021-01-12 16:33] loumalouomega commented on #8064
Which could be the simplest case failing you can share so we can debug?

[2021-01-12 17:28] rubenzorrilla commented on #4479
Many thanks! I'll try it in my FSI poblem ASAP.

I guess that your idea is to substitute the current model by this one once it is completely validated. Am I wrong?

[2021-01-13 07:25] KlausBSautter commented on #4479
if it works .... yes probably

[2021-01-13 08:20] philbucher commented on #8064
@qaumann could you help with the settings for the feast solver?

[2021-01-13 08:38] roigcarlo commented on #8061
But how a templated `__init__.py` will help with this problem? As I understand the problem is that you want the python version to be printed before importing Kratos libs that are dependent?

If that's correct we can extract that from the filenames of python extensions. They should look something like `Kratos.cpython-37m-x86_64-linux-gnu.so` so the info is explicitly there, no need to make an extra

[2021-01-13 08:45] maceligueta commented on #8061
Well, if that is enough, cool, no need to do anything else. I don't know if the micro version is important for this matter, I just see the major and the minor version in the file name you just wrote.
The templated `__init__.py` helps because you can print inside that file any condition you want, based on the information CMake knows at compile time, not only the information available in the file na

[2021-01-13 08:51] philbucher commented on #8064
@emiroglu after our last debugging session I added test for the eigen-things with and without constaints, using both the block and the elim B&S:
- https://github.com/KratosMultiphysics/Kratos/blob/master/applications/StructuralMechanicsApplication/tests/test_eigen_solver_with_constraints.py
- https://github.com/KratosMultiphysics/Kratos/blob/master/applications/StructuralMechanicsApplication/tests

[2021-01-13 11:26] #3882 closed

[2021-01-13 11:37] #8062 closed

[2021-01-14 05:07] peterjwilson opened #8073 "Collect warnings produced throughout a simulation and re-print them at the end"
**Description**
Arising from #8054, I'd like to invite a discussion about the idea of collecting warnings generated throughout the simulation and re-printing them at the end. This means that instead of users missing warnings that fly by in the console log, they can see them all in one place at the end of the sim.

An example: A user forgets a required simulation parameter (not me of course 😄 ). Th

[2021-01-14 08:46] AlejandroCornejo commented on #7358
Dear all, I agree with @loumalouomega in terms that if you change the ordering this has an effect on the normal. But on the normal! I know that Vicente has implemented some checks that ensures the normals to point outwards the body (for contact stuff). My question is, maybe we have to differentiate the area (strinctly positivew value) from the normal (vectorial with sign)?

[2021-01-14 08:49] mpentek opened #8074 "Availability/Status: Thermo-Fluid coupled solver"
**Description**
I am interested in knowing if there is a possibility to solve thermo-fluid coupled problems (meaning solving for velocity, pressure and temperature)? From what I recall, a year or two ago there was a discussion going in this direction. Would appreciate an update on it.

For validation purposes there is a colleague at TUM who is doing research on thermal comfort and ventilation and

[2021-01-14 08:50] AlejandroCornejo commented on #7322
Hi! I think that since lately the `const` approach has been the one selected (in other methods), maybe we should procedd with this one.

[2021-01-14 09:10] #8061 closed

[2021-01-14 09:15] philbucher commented on #8074
I think @rubenzorrilla should b able to answer this

[2021-01-14 09:17] philbucher commented on #8073
I don't like too much the idea of collecting and reprinting the warnings, for implementation and overview reasons
Alternative suggestions:
- Use the file logger to log all warnings to a file, then you can have a look (or if you want read in the file at the end of the sim and print it to console)
- use the colored warnings (afaik are not yet fully supported by all terminals)

[2021-01-14 11:37] rubenzorrilla commented on #8074
The buoyancy solver has been working for many years. Since a few years ago it is also available in the GiD GUI (Fluid->Buoyancy). If I'm not wrong, it has a predefined example too, so it should be straightforward to try it (note that you will need to compile the `ConvectionDiffusionApplication`).

During the last months we have been improving a lot the compressible NS capabilities (unfortunately t

[2021-01-14 12:43] veiguf opened #8077 "Access the stiffness and mass matrices"
The problem in [https://github.com/KratosMultiphysics/Kratos/issues/1821](https://github.com/KratosMultiphysics/Kratos/issues/1821) has surfaced for us again. We would like to access the mass and stiffness matrices of a structural model and get them in Python.
How can we do that? Any help would be appreciated!

[2021-01-14 14:11] riccardotosi commented on #8017
Hi all, in #8075 this issue arose again:

![Screenshot from 2021-01-14 15-10-22](https://user-images.githubusercontent.com/43809717/104601688-d08f8e80-567a-11eb-8abb-6740a6c2d094.png)

[2021-01-14 14:45] emiroglu commented on #8064
@philbucher thanks for the links. This is more or less how I am applying the constraints too but of course on a different geometry where a node becomes slave to many other nodes. In my case the elimination B&S does not seem to be working at all.

You could find both the GiD file and the case files of the below simulations in the here:
[GiD Case](https://github.com/KratosMultiphysics/Kratos/files/5

[2021-01-14 14:55] rubenzorrilla commented on #8017
It's strange... The amount and size of the tests hasn't changed during these weeks... Is it recursively happening? (the rest of PR seem to be fine).

[2021-01-14 14:58] philbucher commented on #8017
I also noticed the same, happens randomly
not as often as before but it still happens

[2021-01-14 14:59] rubenzorrilla commented on #8077
Hi @veiguf ! Just mentioning that maybe makes sense to reopen #1821 to avoid starting the discussion from scratch again.

[2021-01-14 14:59] riccardotosi commented on #8017
It only happened once to me.

[2021-01-14 15:24] veiguf commented on #1821
The problem has surfaced for us again. We would like to access the mass and stiffness matrices of a structural model and get them in Python.
How can we do that? Any help would be appreciated!

[2021-01-14 15:27] veiguf commented on #8077
Closed and moved to [https://github.com/KratosMultiphysics/Kratos/issues/1821](https://github.com/KratosMultiphysics/Kratos/issues/1821)

[2021-01-14 15:27] #8077 closed

[2021-01-14 15:31] rubenzorrilla commented on #8077
Thanks! :wink:

[2021-01-14 16:10] RiccardoRossi commented on #1821
dear @veiguf
take a look at

https://github.com/KratosMultiphysics/Kratos/blob/master/applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_custom_scipy_base_solver.py

it provides you essentially what you need in scipy format

and

https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/scipy_conversion_tools.py

to understand how the conversion to

[2021-01-14 16:39] RiccardoRossi commented on #8064
i find this VERY worrysome. where is the error thrown? (I mean, from what part of the code?)

[2021-01-14 17:54] emiroglu commented on #8064
I am suspecting that the Elimination B&S is not working because I have a node that does not belong to any elements, and I am applying the MasterSlaveConstraint in ModifyInitialGeometry which is called after AddDofs in [analysis_stage](https://github.com/KratosMultiphysics/Kratos/blob/9e6a09ce55d1fdf4aea6de8d9ea1e2f987620131/kratos/python_scripts/analysis_stage.py#L87)

Is there another way to appl

[2021-01-15 08:50] oberbichler commented on #8064
@emiroglu does static analysis work in all these cases?

[2021-01-15 08:54] qaumann commented on #8064
I will update the wiki page with the new solver parameters. I did not know about this page, so I did not update it when I changed FEAST. Sorry about this.

[2021-01-15 08:57] dzheng-conti opened #8078 "Contact test example result not correct"
**Description**
I copied the example from ./ContactStructuralMechanicsApplication/tests/ALM_frictional_contact_test_3D and enabled the output to vtk. Then I plotted the deformation. The deformation looks not right.

**Scope**
test example results

**To Reproduce**
Run the example

**Expected behavior**
The example is with two blocks. The top block is sliding from left to right in contact with the

[2021-01-15 09:53] qaumann commented on #8064
@emiroglu The FEAST wiki page now contains updated information about the parameters and how to set them to obtain a meaningful result.

[2021-01-15 12:01] veiguf commented on #1821
Thanks @RiccardoRossi  for pointing out that file, did not know about it...
Based on this, we tried a couple things to write a class to extract the system matrices, in vain. [TryExtract.zip](https://github.com/KratosMultiphysics/Kratos/files/5820320/TryExtract.zip)
Should this process be carried out with an arbitrary model or must the project parameters be specifically set for this.  Short: Can I

[2021-01-15 13:38] AlejandroCornejo commented on #8078
Hi @dzheng-conti ! Can you share with me the input files that you are using to run it in my pc?

[2021-01-15 13:40] RiccardoRossi commented on #1821
i am not sure i understand you. The idea behind this was to create a mdpa and ProjectParameters as you would for a dynamic analysis, and then run this strategy instead of the normal one.

By looking very quickly in the code of the TryExtract i see that there is a mismatch between "Mass" and "Stiff" which are camel case and "mass" and "stiff" which have no capitals. not sure if this may affect

@ma

[2021-01-15 13:55] manuelmessmer commented on #1821
Hi @veiguf, if I understand it right, you want to set up a model in GiD and then retrieve the system matrices in python, correct? As @RiccardoRossi said, this is exactly what the mentioned `structural_mechanics_custom_scipy_base_solver.py` does. There is also a test case, which probably answers your questions how it is used.
https://github.com/KratosMultiphysics/Kratos/blob/master/applications/Str

[2021-01-15 14:42] emiroglu commented on #8064
@oberbichler The uploaded model works with block b&s and both with `super_lu` and `pardiso_lu` and with OMP_NUM_THREADS=1 but not when elimination b&s is used or with multiple threads. The errors are the same as above.

@RiccardoRossi
`Segmentation Fault` is thrown after `ResidualBasedBlockBuilderAndSolver: Build time: 3.2586`, so I am assuming it is somewhere inside the Solve function.

`bad_inde

[2021-01-15 16:13] oberbichler commented on #8064
OK. Then my first guess would be that the error is actually not within the EigenSystemSolver. If it turns out that the problem occurs only with EigenSystemSolver or FEAST we can take a look at the code.

[2021-01-15 16:18] emiroglu commented on #8064
Still, the simulation setups that work in the above table with the provided simpler model do not work with the original model I am running. Then, with EigenSystemSolver I get a similar error as when the Elimination B&S is used and with FEAST I simply get a `Killed` without any other hints.

[2021-01-15 17:00] roigcarlo commented on #8001
Seems to be ok now, closing

[2021-01-15 17:00] #8001 closed

[2021-01-15 17:24] armingeiser commented on #8064
I tried the example from above locally:

- The segfault is happening in the `ApplyConstraints` function of the `residualbased_block_builder_and_solver.h`, in the parallel loop. At least if i make the loop serial, it works for me with any number of threads.
- Elimination builder does not work for me as well.

[2021-01-15 17:26] philbucher commented on #8064
AFAIK the ElimBS has some concurrency issues for a while already. I am pretty sure they were never fixed

[2021-01-15 17:27] armingeiser commented on #8064
I also have something in mind. I think @adityaghantasala mentioned it does not work with MPCs?

[2021-01-15 17:42] dzheng-conti commented on #8078
@AlejandroCornejo , Here is the test examples I did.

[friction_bug.tar.gz](https://github.com/KratosMultiphysics/Kratos/files/5822133/friction_bug.tar.gz)

[2021-01-15 18:18] loumalouomega commented on #8078
Hi @dzheng-conti I have checked, and you are right. There is an unexpected behaviour which had not noticed before. We are working on it.

[2021-01-16 10:51] loumalouomega commented on #8078
![ezgif-2-2d72412411b3](https://user-images.githubusercontent.com/19991680/104809756-b75c1e80-57ef-11eb-9db5-26cd0f1d2810.gif)

Greetings @dzheng-conti, the example has been updated, and now it gives consisting behaviour (see gif). There were two problems:

- The examples were not updated, and the friction was imposed in a deprecated manner, using a property instead of the contact process. This wa

[2021-01-18 08:40] dzheng-conti commented on #8078
@loumalouomega Thanks for the quick response. Could you tell me where I can find the changed example? I cannot find it in the master.

[2021-01-18 08:51] loumalouomega commented on #8078
@dzheng-conti I have updated the example in the example repository: https://github.com/KratosMultiphysics/Examples/tree/master/contact_structural_mechanics/validation/press_fit/source/3D

I am currently checking something in the repository and I will update the code and tests accordingly.

Best regards,

Vicente Mataix Ferrándiz

[2021-01-18 13:58] qaumann commented on #8064
@emiroglu I tried to compute your example with 1.3M dofs, but my RAM is not large enough, so the process is killed, after memory and swap (40GB total) are completely full. So I suspect this is the reason for the process being killed in my case. Is this the same behavior you are experiencing, or is your process being killed by something else?
I also noticed, that the input stiffness matrix is not s

[2021-01-18 14:26] vovannikov opened #8087 "Sintering simulations with DEM using Kratos"
**Description**
I am working on a DEM model for sintering applications. I found classes `DEM_sintering_continuum` and `SinteringSphericContinuumParticle` which seem helpful to start with but there is no any example of their usage. Can you maybe give some hints where additional info regarding this part of Kratos can be found?

**Scope**
- DEM Application

[2021-01-18 14:56] emiroglu commented on #8064
@qaumann thank you for taking a look. I could never observe the exact memory usage at the time of termination since in FullDebug mode it takes some hours until that point, but I am also suspecting that.

I cannot really comment on the symmetry. It might as well be so due to master-slave constraints. Could @adityaghantasala maybe comment on the symmetry property of the stiffness matrix when master-

[2021-01-18 15:03] qaumann commented on #8064
@emiroglu Sorry about the comment on symmetry, I corrected it above. It should be quite symmetric, the deivations are of order 1e-14, I did not check that immediately.
I managed to solve the problem with Matlab, there it required ~50 GB memory. As I do not have a Linux machine with that much memory available at the moment, I cannot dig deeper, I am afraid. But I would assume the "killed"-problem s

[2021-01-18 15:12] rubenzorrilla commented on #8087
@KratosMultiphysics/dem

[2021-01-18 19:01] maceligueta commented on #8087
Hi @vovannikov , we added the sintering element because we wanted to test the potential of the DEM for sintering problems. The implementation you see there is very preliminary and only contains the basics. I myself have a stale branch with several improvements that haven't been merged for a few years. I will take a look at those improvements, and will merge them to master, but the sintering elemen

[2021-01-18 21:50] vovannikov commented on #8087
@maceligueta, thank you for your quick reply. Merging more stable version would be great. Basics is absolutely fine for me, I want to experiment with a bit different sintering mechanics anyway. After playing around the code with the debugger I got the main concepts of the relevant classes, but I assume I might miss the proper usage of them.

Some code is also confusing (maybe because of draft stat

[2021-01-19 09:10] KlausBSautter commented on #4479
@rubenzorrilla I uploaded the 2D version `BeamElement2D2N` of the other beam formulation, can you please try it? Also I suggest to use:
`"USE_CONSISTENT_MASS_MATRIX" : true`

I have only checked one dynamic example, a pendulum with a very compliant structure (converges nicely):
![pen](https://user-images.githubusercontent.com/26179700/105012058-013a4400-5a3e-11eb-9fb3-51220660aa86.gif)

@philbuche

[2021-01-19 09:11] KlausBSautter commented on #4479
@philbucher `BeamElement3D2N`

[2021-01-19 09:29] philbucher commented on #7381
@KratosMultiphysics/all the PR with removing the old interfaces can be found here: #8090

Please check if your applications compile with this branch.

As stated above, this PR is to be merged end of this month

[2021-01-19 10:16] pooyan-dadvand commented on #7358
I understand that we are talking about 2D and not 3D. In 2D changing the normal would give a negative area which is a widely used convention. (Not my favorite convention) And an easy way to check if the element is inverted. For the strictly positive area, I used to put the abs after calling the Area method.

[2021-01-19 10:23] pooyan-dadvand commented on #8073
I think the fastest and cleanest one is to have a warning output file by default or by ProjectParameters

[2021-01-19 10:29] emiroglu commented on #8064
The reason for the terminated simulation in combination with `eigen_eigensystem` is the used underlying linear system solver for the subspace iterations. The regular compilation of Kratos defaults to `sparse_lu` from Eigen library, that causes excessive memory usage. When Kratos is compiled with IntelMKL, the linear system solver defaults to the `PardisoLDLT` solver, which can handle such big case

[2021-01-19 10:33] #8064 closed

[2021-01-19 10:34] armingeiser commented on #8064
We had this option in the very beginning, but decided to remove it since we did not see a reason to use a slower solver if MKL is available.

[2021-01-19 10:41] loumalouomega commented on #7358
I would avoid the abs, that hides some potential errors

[2021-01-19 10:44] philbucher commented on #8064
it is controllable, we use it in the CI (as MKL gave slightly different results for a case that caused the CI to crash)

[2021-01-19 11:00] oberbichler commented on #8064
I think the idea is to add a json parameter for selecting the linear solver in the same way as e.g. for a static problem.

I agree with @armingeiser that choosing the fastest available direct solver make sense for almost all cases.

Anyway it might be a nice-to-have feature for special cases. But as long as nobody would benefit from such a feature I would not spend time on this.

[2021-01-19 11:02] emiroglu commented on #8064
Yes, there is the `use_mkl_if_available` parameter but the linear system solver cannot be chosen freely by the user. It is either `pardiso_ldlt` with mkl or `sparse_lu` without. We could discuss this in another request issue.

[2021-01-19 11:03] oberbichler commented on #8064
crash or assertion failed?

[2021-01-19 11:07] emiroglu opened #8096 "Segmentation Fault in Residual Based Block B&S with MasterSlaveConstraints and multiple OpenMP threads"
This problem was initially reported in #8064 [here](https://github.com/KratosMultiphysics/Kratos/issues/8064#issuecomment-760241308).

I have a model with a combination of shell, volume, truss elements and master-slave constraints.

There are two types of master-slave constraints in the model. One type is defined between the displacement DOFs of an orphan node (slave) and the displacement DOFs of

[2021-01-19 11:11] e-dub commented on #8064
Maybe here another comment on the use of FEAST: @theshahzeb is currently carrying out unconstrained eigenfrequency studies (free-free) and has found that e_min = 0 does not find all six rigid body translations and rotations. Depending on the model, between two and five "numerically" zero modes are found.  With a small negative number, nan is found for the missing rigid body degrees of freedom.  As

[2021-01-19 11:42] emiroglu opened #8097 "Alternative linear system solvers for the subspace iterations in Eigenvalue Analysis"
This was initially mentioned in #8064 [here](https://github.com/KratosMultiphysics/Kratos/issues/8064#issuecomment-762751589)

The regular compilation of Kratos defaults to `sparse_lu` from Eigen library, that causes excessive memory usage in some large cases and leads to termination of the simulation. When Kratos is compiled with IntelMKL, the linear system solver defaults to the `pardiso_ldlt`,

[2021-01-19 12:16] loumalouomega commented on #8097
You can choose the linear solver, at least for the solvers we don't do it automatically. Yes, it would be clever to add a Parameters (specially because we already have a linear solver factory)

[2021-01-19 12:18] loumalouomega commented on #8096
I certainly don't know for a master-slave procedure how this will affect to the system of equations when getting eigenvalues. Did you try the LM builder and solver for the constraints?

[2021-01-19 12:19] loumalouomega commented on #8096
FYI: https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver_with_lagrange_multiplier.h

[2021-01-19 12:29] philbucher commented on #8097
I think the reason the linear solver factory is not yet used is bcs the eigensolver directly uses an interface of Eigen
@armingeiser @oberbichler can you confirm please?

[2021-01-19 12:31] armingeiser commented on #8097
It is important to have in mind that here multiple RHS are solved internally using the linear solver. As far as i know, only the direct solvers from LinearSolversApplication are currently able to factorize once, and then solve multiple RHS.

With other solvers this might get very expensive. That was the reason we removed that setting (it was available in the first implementation).

[2021-01-19 12:32] oberbichler commented on #8097
@philbucher no

I completely forgot that [there is a switch in the JSON](https://github.com/KratosMultiphysics/Kratos/blob/64b89af2574d055c6fc968efb99d03e8adb5e590/applications/LinearSolversApplication/custom_solvers/eigensystem_solver.h#L180) to use `eigen_lu` even when Kratos was compiled with MKL.

Anyway: If your are able to compile with MKL then `pardiso_ldlt` is the best choice. If you are n

[2021-01-19 12:37] armingeiser commented on #8064
Another important thing to note since the problem is memory consumption for the direct solve:

MKL solvers have the possibility to run out of core (slower but part of the internal variables are written to disc) - This is not yet implemented in the LinearSolversApplication but could be added if needed.

https://eigen.tuxfamily.org/dox/classEigen_1_1PardisoLDLT.html

[2021-01-19 12:55] armingeiser commented on #8097
@armingeiser @oberbichler can you confirm please?

Just lloked into the code again, and you are right. The current implementation makes heavy use of Eigen types internally and it is not straight forward to allow other "Kratos"-solvers.

[2021-01-19 14:05] oberbichler commented on #8064
@e-dub AFAIK none of these algorithms is suitable for finding zero-eigenvectors. If I'm wrong I would be very interested in the correct setup. At the moment I am using SVD...

[2021-01-19 14:35] e-dub commented on #8064
@oberbichler Thanks for the heads up on that.  I would like to compare SVD with what @Theshahzeb found. Could you share the ProjectParameters for the SVD?

[2021-01-19 15:12] maceligueta opened #8100 "[dem] Remove all usage of DRAG_COEFFICIENT and move it to SDEM"
**Description**
A nodal variable is added to the nodes (only for nanoparticles) in the DEM. The drag is part of the interaction with a fluid, so this should be in the Swimming DEM application.

**TODO**
Remove all appearances of DRAG_COEFFICIENT in DEM App and move them to Swimming DEM (without loss of capabilities)

[2021-01-19 15:14] maceligueta commented on #8100
Note: the Terminal Velocity scheme assumes that this variable has been allocated, when it is not always. A check should be written for that, or the code will crash unexpectedly when somebody uses the TerminalVelocityScheme.

[2021-01-19 16:22] pau-mar opened #8101 "Level-set convection process"
**Description**
I would like to know if there is any function available that computes the wet area and volume of the elements inside a given surface, such as in XFEM. The function takes into account the level-set function so that there will be elements cut by the interface with part of their area inside and outside.

Then, should the Navier Stokes Two-Fluid Solver be used when the level_set_convec

[2021-01-19 16:31] oberbichler commented on #8064
I am actually not using Kratos for that.

[2021-01-19 16:56] armingeiser commented on #8096
Linking the code location of the segfault for convenience:

https://github.com/KratosMultiphysics/Kratos/blob/cc86fb69d1108a5517f27d0903aa59fe4c12533a/kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h#L1164-L1172

[2021-01-19 17:53] loumalouomega commented on #8096
That look's like mine

[2021-01-19 18:26] loumalouomega commented on #8096
If you comment line 1165 does it happen¿?

[2021-01-19 18:58] maceligueta commented on #8087
Hi @vovannikov .
Thanks for your polite tone when you came accross with the giganitc bug in the thermal particle. That was obvioulsy a hardcoded test, which somehow was merged to master by the team. It should be removed immediately. I will do that.
About the method `SetInitialSinteringSphereContacts`, you are right, it was work in progress and I commented it out in my branch `dem-sintering-fixes`

[2021-01-19 19:40] rubenzorrilla opened #8103 "[MPI][GiD] MultipleFiles and MPI GiD output filename convention"
**Description**
Right now, the parallel GiD output prints the rank id prior to the time/step label when using the `MultipleFiles` option. This is really annoying when doing the merge for a single time step in GiD since the corresponding files (one per rank) don't appear together. This gets even worse as the number of processes grows.

Shouldn't we print it in the other way around (i.e. `output_fil

[2021-01-19 19:49] rubenzorrilla commented on #8101
There is neither a process nor a utility for such purpose. However it should be easy to implement it as the modified weights calculation for the intersected elements are already implemented in the `ModifiedShapeFunctions` (we could eventually add a new method to the API to avoid the overhead of calculating the shape functions and gradients).

I don't think the above query is related to that one. S

[2021-01-19 19:53] armingeiser commented on #8096
Exactly

[2021-01-19 21:32] armingeiser commented on #8096
Making line 1169 `omp critical` does also solve it.
The example posted above does only have 6 `slave_equation_id`s, all of them are unique. So the problem is not that the assignment happens simultaneously for the same `slave_equation_id`.

Could it be that the insertion happens at a place where there is no non-zero element in the sparse matrix before and causes a reallocation? How could this be ve

[2021-01-19 21:47] RiccardoRossi commented on #8096
mmm, it looks like slave_id appears twice.
can u verify that? (i think it shouldn t happen)

[2021-01-19 21:49] RiccardoRossi commented on #8096
i mean, i would check if there are repeated slave_ids in  mSlaveIds

[2021-01-20 00:04] emiroglu commented on #8096
I think @armingeiser is right. The problem might be originally stemming from `ConstructMatrixStructure` function. When the slave node does not belong to any element or condition, its `EquationId` is not inserted in the `indices` of the matrix. Then in `ApplyConstraints` the indices and the data are extended without taking care of the race condition. This should also be the reason why `omp critical

[2021-01-20 00:15] emiroglu commented on #8096
I think @armingeiser is right. The problem might be originally stemming from `ConstructMasterSlaveConstraintsStructure` function. Slave nodes `EquationId`s are never inserted in the matrix indices. If it also does not belong to any element or condition, `ConstructMatrixStructure` skips them too. Then in `ApplyConstraints` the indices and the data are extended without taking care of the race condit

[2021-01-20 00:42] emiroglu commented on #8096
I think @armingeiser is right. The problem might be originally stemming from `ConstructMatrixStructure` function. When the slave node does not belong to any element or condition, its `EquationId` is not inserted in the `indices` of the matrix. Then in `ApplyConstraints` the indices and the data are extended without taking care of the race condition. This should also be the reason why `omp critical

[2021-01-20 02:08] emiroglu commented on #8096
Following addition after [Line 1610](https://github.com/KratosMultiphysics/Kratos/blob/cc86fb69d1108a5517f27d0903aa59fe4c12533a/kratos/solving_strategies/builder_and_solvers/residualbased_block_builder_and_solver.h#L1610) does the job:

[code]

[2021-01-20 07:08] rubenzorrilla commented on #7877
The `EmbeddedSkinVisualizationProcess` updates the variable values within the `ExecuteBeforeOutputStep` method. This means that these are only updated when the `IsOutputStep` of the output process is called. This is intentionally done to avoid the overhead of updating the output values when these are not to be printed.

The poblem in here is that the `PointOutputProcess` does not behave as an outp

[2021-01-20 07:14] rubenzorrilla commented on #7877
(@frawahl I changed the issue tittle to better describe the situation. I hope you don't mind.)

[2021-01-20 07:17] rubenzorrilla commented on #7876
Completely agree. Closing this issue as the underlying problem is the same as that one in #7878.

[2021-01-20 07:17] #7876 closed

[2021-01-20 09:25] maceligueta commented on #8087
@vovannikov I removed that piece of code in PR #8105

[2021-01-20 09:37] loumalouomega commented on #8096
The errors we found here will apply also to the EliminationBuilderAndSolver

[2021-01-20 10:05] pooyan-dadvand commented on #7893
@KratosMultiphysics/technical-committee understands the use cases and need for such a tool

Meanwhile, the effectiveness of it should be verified with Intel and MSVC compilers by running the above example in many threads.

About the wrapper, we consider this very simple interface which can be used without a wrapper like standard libraries.

[2021-01-20 10:06] RiccardoRossi commented on #7893
@sunethwarna you have a usecase for this in the PointerCommunicator

[2021-01-20 10:16] vovannikov commented on #8087
@maceligueta Thank you for your quick updates and clarification of my doubts. I will also have a look at branch `dem-sintering-fixes`.

[2021-01-20 10:40] sunethwarna commented on #7893
@RiccardoRossi Yes I have one use case, I'll create a PR for that use case and refer hear.

[2021-01-20 10:49] e-dub commented on #8064
@oberbichler: @veiguf and I looked at i.a. free-free vibrations with Kratos-FEAST 2.5 years ago and verified the results with ANSYS, see [here](https://github.com/KratosMultiphysics/Kratos/files/5841766/Vergleich.pdf).  Of course, quite a bit has changed in Kratos since then...

Do you have more information for us why FEAST is not suitable for zero eigenvalues? What software are you using for free

[2021-01-20 11:25] RiccardoRossi commented on #8096
The point is that you are adding all the columns in the MPC  to the matrix, prior to multiplying it by T and Ttranspose.
As far as i need this should not be needed, since the matrix multiplication will (or should) add this automatically.
I think it should work (and occupy way less memory and time) if you just add the diagonal entry

[2021-01-20 12:47] loumalouomega commented on #8096
I am trying to create a very minimal failing test (pure C++) in order to debug and ensure does not break in the future, see #8112

[2021-01-20 12:52] #8025 closed

[2021-01-20 13:10] miguelmaso commented on #7867
@riedlandreas the developments related to the element are added in #8113

[2021-01-20 13:51] emiroglu commented on #8096
@RiccardoRossi you are right. Only adding the diagonal entries solved the problem too.

[2021-01-20 13:54] RiccardoRossi commented on #8096
can u create a PR with the changes?

[2021-01-20 15:22] #8096 closed

[2021-01-20 15:40] qaumann commented on #8064
@e-dub As far as I know, you can compute all eigenvalues using the FEAST routines, if you have set its limits accordingly. With a small range towards both sides around zero, FEAST should find the eigenmodes corresponding to your rigid body movement. If your system matrices are symmetric, you can now (with FEAST 4.0) also find the n lowest eigenvalues in your specified range, so this could be what

[2021-01-20 17:00] Theshahzeb commented on #8064
"search_lowest_eigenvalues" and "number_of_eigenvalues" did not work for us. Solver keeps running till it finds all the eigenvalues in the selected range.
Selecting e_min slightly below zero gives all the rigid body eigenmodes indeed.

[2021-01-20 17:06] oberbichler commented on #8064
Thanks. I will take a look.

@qaumann `EigenSystemSolver` needs to solve the system. I don't know if this step could be modified in order to work with singular matrices. Since in this case the range of the eigenvalues is known, FEAST should be fine.

[2021-01-21 08:24] rubenzorrilla opened #8125 "[Core][OpenMP] AtomicAdd template argument deduction issue"
**Description**
Take these two functions (or any other feasible use case for the `AtomicAdd`)
[code]
This should be possible to be done. However, since the two vector types are the same in the second function (`array_1d<double,3>`), the compiler tries to access the second function in the `AtomicUtilitites`
[code]
which of course leads to a compiler error in the addition.

**Scope**
- KratosCore

*

[2021-01-21 09:02] philbucher commented on #8125
hm probably there is no way around using a different name :/
Otherwise I am not sure how the compiler can figure it out, both functions have the exact same signature (unless two template args are enforced as you show above)

EDIT: maybe we can use [is_scalar](https://en.cppreference.com/w/cpp/types/is_scalar)? I think this would work here and it wouldn't cause overhead as it is evaluated at compil

[2021-01-21 09:13] maceligueta opened #8126 "[several apps] Remove all checks for Key() == 0"
**Description**
There are many places where we still have the expression `SOME_VARIABLE.Key() == 0`.
These lines are useless because the Key can never be zero after some changes done in the variables.
This issue is just a reminder of this TODO.

[2021-01-21 10:17] philbucher commented on #7381
@KratosMultiphysics/all the old interfaces will be removed in 8 days from now, on Friday 29.
As mentioned above the PR that removes them is #8090
Please check if your apps are working with this branch

all the apps that are in the CI are already updated

[2021-01-21 11:30] qaumann commented on #8064
@Theshahzeb That should not happen. Could you provide your FEAST settings and perhaps its output with `echo_level=1`? Normally, it should find only `number_of_eigenvalues` in the given interval.

[2021-01-21 11:53] Theshahzeb commented on #8064
Thank you looking into this, these are the feast settings I am using, trying to find lowest values:
`    "eigensolver_settings":{`
`        "solver_type"               : "feast",`
`        "symmetric"                 : true,`
`        "number_of_eigenvalues"     : 16,`
`        "e_min"                     : -0.1,`
`        "e_max"                     : 1e09,`
`        "search_lowest_eigenvalues" :

[2021-01-21 14:19] qaumann commented on #8064
@Theshahzeb Thank you for providing me with the output. There does not seem to be an error in the configuration, but FEAST's stochastic estimate fails. If you can share your model with me, I can take a more thorough look why it fails.

[2021-01-21 15:15] vovannikov commented on #8087
@maceligueta Are you sure it was OK to delete file `kratos/python/add_dem_variables_to_python.cpp` from `dem-sintering-fixes`? The definition of `AddDEMVariablesToPython()` is then missing.

[2021-01-21 15:26] maceligueta commented on #8087
No, that must have been a merge mess. The branch was so outdated that I had to do a manual merge, and I only looked at the DEMApplication. This file shouldn't have been removed.

[2021-01-21 16:06] rubenzorrilla commented on #6127
I think that all the auxiliary variables are non-historical (only the input/output ones are forced to be historical as you mention in the next bulletpoint).

[2021-01-22 12:56] vovannikov commented on #8087
OK, I thought the same. In the meanwhile, it seems I made it work. But some questions came, if you do not mind, I will place them here though they are related to DEM module in general.

Is it possible to prescribe initial displacement of a particle without specifying its velocity? I want to have particles indented at the very first step but not the indentation to be created by making particles rad

[2021-01-22 14:09] Nelmaireni opened #8133 "A simple Structural examples not run due to RuntimeError: Error: The ModelPart named : "computing_domain" was not found as SubModelPart of : "Structure". The total input string was "Structure.computing_domain". Run default structural problem (Not from Gid) but Kratos User Installation."
**Description**
A simple Structural examples not run due to RuntimeError: Error: The ModelPart named : "computing_domain" was not found as SubModelPart of : "Structure". The total input string was "Structure.computing_domain". Run default structural problem (Not from Gid) but Kratos User Installation.

[2021-01-22 14:11] maceligueta commented on #8087
I don't fully understand the example you want to set. If you want particles initially indented you just need them to be overlapping each other. That can be achieved by using big radii or setting the centers coordinates adequately. The option "`CleanIndentationsOption`" must be set to `false `or the DEMApp will decrease the radii of the particles to avoid explosions.

[2021-01-22 14:44] riccardotosi opened #8134 "Error in StructuralMechanicsApplication test"
**Description**
I got the following error in #8075 (ubuntu (FullDebug, gcc)):
[code]

I do not know if this error is known or not. In case it is, feel free to close the issue. I assign to @KratosMultiphysics/structural-mechanics.

**Scope**
Where in Kratos is this bug happening.
E.g.
- Continuous Integration

**To Reproduce**
Opening a PR should be enough.

**Expected behavior**
The test should ru

[2021-01-22 14:44] riccardotosi commented on #8134
@KratosMultiphysics/structural-mechanics

[2021-01-22 14:54] loumalouomega commented on #8134
That test is from @RiccardoRossi

[2021-01-23 10:53] rubenzorrilla opened #8136 "[KratosCore][TODO] Upgrade `VariableRedistributionUtility` tests"
**Description**
Currently the `VariableRedistributionUtilities` tests in the `test_variable_redistribution.py` file use the `InterfacePreprocess` utility, which belongs to the `FSIApplication`. This means that the testing of a `KratosCore` feature depends on an application, which is a complete non-sense.

These tests also require a clean up.

**TODO**
- [x] Remove the `InterfacePreprocess` usage f

[2021-01-25 08:20] riccardotosi commented on #8134
I got this error only once (for now) in one PR. If @KratosMultiphysics/structural-mechanics or @RiccardoRossi think is not an issue, feel free to close the issue.

[2021-01-25 14:38] marandra opened #8146 "[CLANG] fatal error: 'omp.h' file not found"
**Description**
Compilation of Kratos ends with the following error:

[code]
According to `git bisect`, the error appears in commit 4b134271182ca02e8c6a63df7f83a3f0aea9fc18

I don't understand what is special about parallel_utilities.h that leads to an error, as there were other `include <omp.h>` in the code before.
Also, I'm not sure if the output of cmake is normal (it is the same en both cases)

[2021-01-25 15:01] philbucher commented on #8146
hm this is strange
can you post your configure file?
what worries me is that `KRATOS_SHARED_MEMORY_PARALLELIZATION` is unused, which should not be

[2021-01-25 15:15] marandra commented on #8146
The original "bad" commit is old, before the introduction of `KRATOS_SHARED_MEMORY_PARALLELIZATION`, so the configuration still uses `KRATOS_EXCLUDE_OPENMP` (and I assumed the newer was going to be ignored). In the tests I had to switch between both variables. (The error appears independently of the value True/False or None/OpenMP, though)

Here you have the whole config script, let me know if the

[2021-01-25 15:21] philbucher commented on #8146
ok now things get clearer
actually using `KRATOS_EXCLUDE_OPENMP`  should give an error
https://github.com/KratosMultiphysics/Kratos/blob/74ca63383d1341c849e89554202582b4326d02fb/CMakeLists.txt#L292-L295

can you try without (only using `KRATOS_SHARED_MEMORY_PARALLELIZATION`)?

[2021-01-25 15:54] KlausBSautter opened #8147 "[Structural] Problem with explicit central difference scheme"
**Description**
Hi, I was expecting a small error in the central difference code for a while and got the time to properly look into it now. This is a minor problem as it is only bad for large time steps that are normally not used for the explicit time integration schemes.

The problem is easily explained:
The current velocity is currently calculated based on the old acceleration instead of the new

[2021-01-25 16:15] marandra commented on #8146
I checked out the last version from master and recompiled with `KRATOS_SHARED_MEMORY_PARALLELIZATION="OpenMP"` (same results as with "None")

I noticed that the problem is with *any* `include <omp.h>`, not just parallel utilities, which makes much more sense now.

For what I found, when compiling with clang, one must use "-fopenmp" and pass the include and library locations. I'd expect that cmake

[2021-01-25 16:26] philbucher commented on #8146
hm not sure why this is happening / why CMake cannot find OpenMP

as shown [here](https://github.com/KratosMultiphysics/Kratos/pull/7262/files#diff-1e7de1ae2d059d21e1dd75d5812d5a34b0222cef273b7c3a2af62eb747f9d20aR302-R307) when I updated the CMakeLists in #7262 I didn't change the mechanism with which OpenMP is detected

@roigcarlo do you know sth?

[2021-01-25 19:07] Nelmaireni commented on #8133
Any help here for solving this small issue?

[2021-01-25 19:30] loumalouomega commented on #8133
I updated you comment to avoid confusions.

The case is not up-to-date, where is that example?

[2021-01-26 00:06] #5982 closed

[2021-01-26 07:21] Joekchu opened #8148 "Searching the element ID"
**Description**
What is happening?

Hi, everyone!

I have a question about coding the contact algorithm:

I now have some beam element inserting into the solid elements. I want to create some virtual with the same coordinates as the integration point of the beam element. But I don't know how to know the ID of the 3D solid element where the virtual point lies. Do you guys have any suggestions on se

[2021-01-26 07:42] RiccardoRossi commented on #8148
forwarding to @AlejandroCornejo and @loumalouomega

[2021-01-26 07:50] AlejandroCornejo commented on #8148
Dear @Joekchu , Maybe @loumalouomega has a better idea because he has been working in this for a long time. If I'd have to do it I would use the `IsInside` method from the geometry in order to know if a node is inside a certain element.

You can check here the `triangle_2d_3.h`:

[code]

[2021-01-26 08:01] Joekchu commented on #8148
Dear @AlejandroCornejo , thanks for your suggestion that looks more concise. One more question, I am a rookie of UBLAS, so I am not sure about the Point<3>, does it contain the information of one node with 3 components or this array contains many nodes and each node contain 3 component?  Thanks in advance!

[2021-01-26 08:04] AlejandroCornejo commented on #8148
Hi! you can create a `Point` as (`point.h`)
[code]

[2021-01-26 08:10] AlejandroCornejo commented on #8148
or, if I'm not wrong, you could do:
[code]

[2021-01-26 08:48] roigcarlo commented on #8146
Looking into it

[2021-01-26 08:55] roigcarlo commented on #8146
Well there is indeed a problem in the parallel_utilities.h. All instances of `#include "omp.h` and `#include <omp.h>` should be warded by `#ifdef _OPENMP`, otherwise it will try to include it even if there is no support for such back-ends.

I will prepare a commit to fix this instance of the problem and others I've seen.

[2021-01-26 08:56] roigcarlo commented on #8146
@philbucher Maybe it could be usefull to run a weekly ci with less common configurations like this one to catch problems, we can discuss it in the next meeting.

[2021-01-26 09:05] philbucher commented on #8146
Ok this is on my todo list

BTW please use `KRATOS_SMP_OMP` ;)

still that doesn't answer the question why cmake doesn't find openMP :/

[2021-01-26 09:07] roigcarlo commented on #8146
Wait it is indeed in #7474 sorry for the noise. then what is the problem? I thought @marandra wanted to compile without openmp.

[2021-01-26 09:13] roigcarlo commented on #8146
Ok I misunderstood the problem. Since you are using arch and they updated to OpenMP in clang 11 maybe what is missing is the openmp update.

Try making a `pacman -Syu` or try to add `-fopenmp-version=45` to the compilation

[2021-01-26 09:13] philbucher commented on #8146
yes he does (and I do sometimes too and never had a problem)
Now one thing at a time:
- So in my experience if one uses `#pragma omp ...` without wards and compiles without omp the compiler throws warnings saying that there are unknown pragmas => this is disabled with `-Wno-unknown-pragmas` which I can see in the compiler output (anyway those are just warnings)
- One of the real compiling issues i

[2021-01-26 09:14] philbucher commented on #8146
that sounds like it could be a solution

[2021-01-26 09:17] roigcarlo commented on #8146
Also probably we should move `add_definitions( -DKRATOS_SMP_OPENMP )` to inside the `if (OPENMP_FOUND)`, i think this is the case why he was getting the errors.

[2021-01-26 09:17] philbucher commented on #8146
so probably we should throw an error if OpenMP is not found?

[2021-01-26 09:18] roigcarlo commented on #8146
Yep

[2021-01-26 09:25] loumalouomega commented on #8148
Let me clarify.

- Working in 2D.
- You have beams elements (lines of 2 nodes).
- You have solid elements (quads and triangles).

You want to check if the integrations points lies in some element, and the id of that element?

[2021-01-26 09:31] Joekchu commented on #8148
Hi, Vicente, nice to see you! This is Joe @loumalouomega
1) Working in 3D;
2) Yes, 2 nodes beam element;
3) Yes.

Yes, I want to obtain the ID of the solid element where integrations points lie and then calculate the relative displacements between the target points of the pile and the solid element.

[2021-01-26 09:32] Joekchu commented on #8148
@AlejandroCornejo Also, million thanks to you. I am sure that I learn a lot from your answer.

[2021-01-26 09:33] loumalouomega commented on #8148
In that case (a little bit pesudo-code):

[code]

[2021-01-26 09:34] loumalouomega commented on #8148
I will update my previous comment to 3D.

[2021-01-26 09:35] loumalouomega commented on #8148
See my previous comment

[2021-01-26 10:12] loumalouomega commented on #8148
If you use Hexahedra I don't know if it will work (I do not remember if we adapted in order to be generic, I think we did for the MPM formulation).

[2021-01-26 10:14] Joekchu commented on #8148
MPM you mean material point method or others? @loumalouomega

[2021-01-26 10:26] AlejandroCornejo opened #8149 "[SMA] Not printing simulation time anymore?"
**Description**
I've seen that the simulation time is no longer printed... Is there a reason for that in Structural?

Regards
Alejandro

[2021-01-26 10:53] philbucher commented on #8149
it should be printed, this comes from the AnalysisStage
And hasn't been changed in a while

Maybe you changed the logging level?

[2021-01-26 11:01] AlejandroCornejo commented on #8149
you mean the echo loevel?

[2021-01-26 11:34] loumalouomega commented on #8148
Yes, the ParticleMechanicsApplication does MPM

[2021-01-26 11:42] Joekchu commented on #8148
Thanks, sir, one more question: if your MPM application supports GPU acceleration?

[2021-01-26 11:46] loumalouomega commented on #8148
I don't know, I am not developer, @RiccardoRossi who is the main developer right now?

[2021-01-26 11:46] loumalouomega commented on #8148
It is implicit BTW

[2021-01-26 12:56] philbucher commented on #8149
no the verbosity if the logger
the default severity is `INFO`. If you change it to `WARNING` then the levels below will no longer be printed
And the time print is with level `INFO`
https://github.com/KratosMultiphysics/Kratos/blob/bd815e5fd0c17975627dc7b8351e459388bb9477/kratos/python_scripts/analysis_stage.py#L139-L140

[2021-01-26 13:04] philbucher commented on #8146
see #8150

[2021-01-26 13:18] AlejandroCornejo commented on #8149
ookey! I'll try!

[2021-01-26 13:18] #8149 closed

[2021-01-26 13:21] philbucher commented on #8149
this might be the origin:
https://github.com/KratosMultiphysics/Kratos/blob/bd815e5fd0c17975627dc7b8351e459388bb9477/applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_analysis.py#L44-L49

however this has been like this for quite a while now

also pinging @loumalouomega in case he knows better

[2021-01-26 13:53] loumalouomega commented on #8149
It was me, I just like when tests only print dots... (don't judge me)

[2021-01-26 14:36] marandra commented on #8146
Thanks for looking into it.

I tried with `-fopenmp-version=45` and it doesn't help (the system is already up to date)

To clarify, if I checkout Kratos `v8.0.1` (my "production" version), it compiles without problem. Then I checkout master, it fails. Switch to v8.0.1, compiles.

I normally exclude OpenMP, but the error appears with or without it.

I tried compiling with #8150 , but it keeps faili

[2021-01-26 14:43] marandra commented on #8146
Trying #8150 again with `KRATOS_SHARED_MEMORY_PARALLELIZATION="None"` it skips OpenMP detection, and fails at the first `#include <omp.h>`.

[code]

[2021-01-26 14:59] marandra commented on #8146
One more thing, when switching to `v8.0.1` (with or without OpenMP), CMake still doesn't find OpenMP, but compiles with no errors
[code]

[2021-01-26 15:06] philbucher commented on #8146
you mean Clang version 8.0.1?

If so then I think the following happens: Clang 11 seems to be stricter with missing `omp.h`. Other compilers (such as Clang 8) seem to still allow the compilation even if omp is not included.

There was a missing include guard, [I fixed it](https://github.com/KratosMultiphysics/Kratos/pull/8150/commits/74c52a7715b3f6fd619d48a1b951ba48c09f57d2), can you try to compil

[2021-01-26 16:43] philbucher commented on #8146
sorry I somehow didn't read that you are referring to an older version of Kratos and not a different version of the compiler

I have one question, did it find OpenMP with the older version of Kratos?

[2021-01-26 16:46] philbucher commented on #8146
I meant this, it doesn't find OpenMP here either with the old version?

[2021-01-26 17:09] #6127 closed

[2021-01-26 21:28] marandra commented on #8146
Got it.
I found a LLVM-OpenMP package in the package repository, installed, and CMake found it immediately:
[code]
And now with #8150, if I disable OpenMP:
[code]

I still don't understand why was it working before though, even with CMake saying that OpenMP was not found...

Anyways, I am closing the issue as the problem is solved. Feel free to open it in case you need to investigate it further. T

[2021-01-26 21:28] #8146 closed

[2021-01-27 08:42] miguelmaso opened #8159 "[Core] [AddPointsToPython] Missing constructor with array_1d"
**Description**
In the `Check` of a custom process I was trying to create a point from the coordinates given by the parameters. However, I get the following error:
[code]

**Scope**
- KratosCore
- Python interface

**To Reproduce**
[code]

[2021-01-27 08:53] philbucher commented on #8146
cool, glad it works now
Ultimately I think the issue was caused by a non-warded include of `omp.h` which fails if omp cannot be found
Should be solved with #8150

[2021-01-27 09:35] rubenzorrilla commented on #8148
Just mentioning that there is an explicit solver as well.

[2021-01-27 09:38] loumalouomega commented on #8148
I feel old now...

[2021-01-27 09:39] loumalouomega commented on #8148
No GPU BTW?

[2021-01-27 10:27] marandra opened #8163 "How to add CalculateOnIntegrationPoints for bool variables to Python?"
**Description**
Apparently CalculateOnIntegrationPoints for boolean variables is not exported to python
[code]

I tried adding
`.def("CalculateOnIntegrationPoints", CalculateOnIntegrationPoints<Element, bool>)`
to line 465ish of `.../kratos/python/add_mesh_to_python.cpp`, but it seems not to be enough:
`SystemError: <built-in method CalculateOnIntegrationPoints of PyCapsule object at 0x7f65df53006

[2021-01-27 10:27] mczaplinski89 commented on #7993
Dear All,
I would like to apply a loading-unloading sequence to a DEM-FEM boundary. It should look something like this:
time force
0    0
1    100
2    0

Please help me to apply a loading table directly to .mdpa file
Best regards

[2021-01-27 10:50] loumalouomega commented on #8163
See  #8164

[2021-01-27 10:52] rubenzorrilla commented on #8148
I don't think so...

[2021-01-27 11:32] philbucher commented on #8136
I would add that the tests are also executed in MPI to make sure the results are consistent btw serial & MPI

[2021-01-27 15:33] #8159 closed

[2021-01-27 15:56] loumalouomega commented on #8163
Should work now

[2021-01-27 17:38] philbucher commented on #8133
basically "Structure.computing_domain" doesn't exist any more, replace it with "Structure"

[2021-01-27 19:33] Nelmaireni commented on #8133
Dear all,
Thanks for the reply.
It works now. Let me introduce myself.
My name is Nelson Lafontaine. I was a Kratos developer from 2008-2016 (time at Cimne). My advisor was R.Rossi and E. Oñate. So, started again in KRATOS  in order to check some news ideas.  How can I be an official member now? The old web page of KRATOS seems to be not used anymore.
Regards
Nelson

[2021-01-27 19:34] Nelmaireni commented on #8133
The ticket can be closed now.
Thanks.
Nelson

[2021-01-27 20:09] maceligueta commented on #7993
@joaquinirazabal is the expert, but he is off these days, I'll answer as soon as I have run a test.

[2021-01-27 20:11] loumalouomega commented on #8133
Hi Nelson, I am Vicente, the guy who helped you with the latex presentation of your PhD defense . I am a doctor now too, hehe. Time flies.

In order to be collaborator I will ping @RiccardoRossi and @pooyan-dadvand

BTW, we have rebuild the structural app from scratch, it is a completely new app now.

[2021-01-27 20:40] RiccardoRossi commented on #8133
hi Nelson,
   welcome back!

you need to create a github user. once you have it i will invite you to the
repository

Riccardo

On Wed, Jan 27, 2021, 8:33 PM Nelmaireni <notifications@github.com> wrote:

[2021-01-28 08:06] joaquinirazabal commented on #7993
Hi, sorry for the late response.

If you want to apply the loading-unloading sequence with a table, the DEMFEM_boundary.mdpa file should read like (example for applying the load in the Z direction):

Begin ModelPartData
//  VARIABLE_NAME value
End ModelPartData

Begin Properties 1
   ...
End Properties

**Begin Table 1 TIME EXTERNAL_APPLIED_FORCE_Z
0.0 0.0
1.0 100.0
2.0 0.0
End Table**

Begin Node

[2021-01-28 08:44] loumalouomega commented on #8133
I assume the user is @Nelmaireni

[2021-01-28 08:59] philbucher commented on #8133
@Nelmaireni you should have received an invite :)

[2021-01-28 10:54] philbucher commented on #8133
I updated the examples, can you try again @Nelmaireni ?

[2021-01-28 11:00] rubenzorrilla commented on #7862
I'll try to find some time to try it reverting to before and after the problematic commit.

[2021-01-28 11:06] philbucher commented on #7862
I recommend to try a commit before #7347 and one after to check if the problem was cause by #7347

[2021-01-28 11:07] RiccardoRossi opened #8171 "Use StackBased Vectors and Matrices in ConstitutiveLaw interface"
**Description**
In @KratosMultiphysics/technical-committee  we are in principle favorable in changing the interface of ConstitutiveLaw to use StackBased vectors (of variable size) for Strain,Stress and F instead of heap allocated vector.

this would imply a API breaker change in the ConstitutiveLawParameters

to be discussed further for "details"

[2021-01-28 11:18] loumalouomega commented on #8171
I am in favour. BTW I suggested something similar some time ago using bounding vectors and matrices using a template. Which class is StackBased vector of variable class?

[2021-01-28 11:50] RiccardoRossi commented on #8073
discussing in the @KratosMultiphysics/technical-committee we believe that the best solution is to print by defaults a warning file additional to the complete output.

The place for doing this is the MainKratos.py , just after importing stuff.

Eventually we will move this to a "Project" object once we have that defined

[2021-01-28 13:31] marandra commented on #8163
Hi @loumalouomega, thanks for looking into it.

I've been testing it after #8164, and I'm still getting the original error. When trying to retrieve a boolean variable with CalculateOnIntegrationPoints(...) it stops with these messages:
[code]

An equivalent code, but using a double variable, passes normally.

[2021-01-28 23:01] #7381 closed

[2021-01-29 09:56] mpentek opened #8176 "Compilation error -> certain apps with the most recent master version"
**Description**
Problem compiling

- FreeSurfaceApplication
- ShallowWaterApplication @KratosMultiphysics/shallow-water
- PfemFluidDynamicsApplication @KratosMultiphysics/pfem
- DelaunayMeshingApplication

with the most recent master on Ubuntu18. Any similar experience? Other apps (fluid dynamics, structural mechanics, rans, trilinos) have no issues.

[2021-01-29 10:22] philbucher commented on #8176
this is caused by #7381 which was merged today
I am guessing the corresponding developers will address this soon

sorry for the inconvenience, this change was announced for years, details see #7381 :/

[2021-01-29 10:32] miguelmaso commented on #8176
Thanks for reporting. I'm checking ShallowWaterApplication, it was compiling without warnings

[2021-01-29 11:52] loumalouomega commented on #8163
OK, apparently the pybind11 lists cannot store booleans, so I have done a refactor for the booleans parsing integers. Now it works

[2021-01-29 11:55] loumalouomega commented on #8163
See #8179

[2021-01-29 12:16] rubenzorrilla opened #8180 "[All][Trilinos] TrilinosEliminationBuilderAndSolver not working"
**Description**
`TrilinosEliminationBuilderAndSolver` seems to not be working.

**Scope**
- Any MPI-parallel problem using the elimination B&S (I tried structure and a convection-diffusion solver I am developing). Everything works fine with the `TrilinosBlockBuilderAndSolver`.

[2021-01-29 13:08] #8163 closed

[2021-01-29 13:10] miguelmaso commented on #8176
shallow water app is fixed

[2021-01-30 06:36] mpentek commented on #8147
A side note: please do not use screenshots in that way (for me dark on dark) as with the new GitHub dark mode I cannot see your equations. I guess more and more developers will be switching to this new appearance setting.

[2021-02-01 04:10] peterjwilson commented on #8147
Hey @KlausBSautter , I'm deep into explicit time integrators now and can confirm your revised formulae are correct! My reference is Nonlinear Finite Elements for Continua and Structures, Belytschko, 2014, Box 6.1.

That cosim test is also mine - if you set up a PR I can update the results :)

[2021-02-01 07:21] KlausBSautter commented on #8147
Thanks for the update! We need a comment from @loumalouomega before we can continue.

[2021-02-01 08:52] philbucher commented on #7877
In short:
This has historical reasons.
Changing it should be done IMO but it will break every single usage

[2021-02-01 09:01] loumalouomega commented on #8147
I have been checking the changes, I am OK with the changes from a theoretical point of view, I have some minor style/aesthetic suggestions. If you do a PR, I will do a comment

Besides, you also should update the tests and add the new one?

[2021-02-01 09:47] philbucher commented on #8125
I thought abt this for some more time and I think it is not possible to have the two functions with the same name and different number of template args
Maybe with some template magic it would be possible...

[2021-02-01 10:28] rubenzorrilla commented on #8125
I'm afraid you're right... @roigcarlo @loumalouomega any idea?

[2021-02-01 10:28] #7878 closed

[2021-02-01 10:55] loumalouomega commented on #8125
Variadic templates may be a solution. But I can say from experience that it is a pain to programme

[2021-02-01 11:22] maceligueta commented on #8176
Just tagging @AFranci , in case he is not aware of these problems.

[2021-02-01 12:59] roigcarlo commented on #8125
If I understand the error the problem is that the compiler can't deduce the type because is `const T` and `T` at the same time?
No need to make it with variadrics, you can declare the const in the implementation as a trait of the type:

[code]

[2021-02-01 13:07] KlausBSautter commented on #8147
@vicente I will have to check the remaining tests. The truss tests still work though

[2021-02-01 13:35] RiccardoRossi commented on #8125
Guys, i am afraid i have a good argument for not templating it at all.

the point is that in order to emulate it with c++ (@philbucher i think you are interested in this discussion) something we are currently pursuing, we will have to use boost's atomic_ref (while waiting for c++20's atomic_ref).
This will work _when the data is well aligned_   We cannot ensure this for all the types (for example

[2021-02-01 14:10] roigcarlo commented on #8125
It can be implemented using:

[code]

This way we can customize types as shown. Also in C++20 we can define a

[code]

So it does not get that verbose.

[2021-02-01 14:14] AFranci commented on #8176
Hi all and thank you for reporting.
I'm sorry for the inconvenience, but these days I'm very busy and I will not be able to take a look at this before the next week.

[2021-02-01 14:22] RiccardoRossi commented on #8125
just to continue on my line of not having the template at all, take a look at the "caveats" of atomic_ref in

https://www.boost.org/doc/libs/1_75_0/doc/html/atomic/interface.html

[2021-02-02 12:14] mpentek commented on #8074
Thanks for the input!

[2021-02-02 12:14] #8074 closed

[2021-02-02 15:51] AlejandroCornejo opened #8196 "[Windows] Compilation error in DelaunayMeshing"
**Description**
I've just pulled the master and I got a lot of compilation errors in Delaunay...

@AFranci

[2021-02-02 16:23] AFranci commented on #8196
Hola Alejandro,
Please see #8176

[2021-02-02 19:23] AlejandroCornejo commented on #8176
Solving for pfem, Delaunay and FEMtoDEM here: https://github.com/KratosMultiphysics/Kratos/pull/8199

[2021-02-02 19:23] AlejandroCornejo commented on #8196
solving in https://github.com/KratosMultiphysics/Kratos/pull/8199

[2021-02-03 07:38] #8196 closed

[2021-02-03 07:39] AlejandroCornejo commented on #8176
- PfemFluidDynamicsApplication @KratosMultiphysics/pfem

- DelaunayMeshingApplication

SOLVED

[2021-02-03 07:43] RiccardoRossi commented on #8176
can the issue be closed then?

[2021-02-03 07:49] AlejandroCornejo commented on #8176
seems that `FreeSurfaceApplication` is remaining

[2021-02-03 09:00] mpentek commented on #8176
Thanks!

[2021-02-03 09:00] #8176 closed

[2021-02-03 09:33] ddiezrod opened #8205 "[RANS] File names are too long"
**Description**
We are having problems when we try to download kratos module in our CI machines in Altair.

![image](https://user-images.githubusercontent.com/25667299/106726956-413b2280-660b-11eb-9423-a36678691954.png)

Some of the files used in tests are reaaally long, could you please make them shorter? @sunethwarna

[2021-02-03 09:36] ddiezrod commented on #8205
FYI @mohittyagi-k

[2021-02-03 09:37] ddiezrod commented on #8205
Here its complaining about two files, but I see there are more that are also quiet long. Please rename those too.
![MicrosoftTeams-image](https://user-images.githubusercontent.com/25667299/106727534-e0601a00-660b-11eb-91f3-9661aeadb393.png)

[2021-02-03 09:46] sunethwarna commented on #8205
I am on it

[2021-02-03 09:50] ddiezrod commented on #8205
Thanks a lot! I'd rename them myself but I have no idea what's going on there :)

[2021-02-03 10:13] pooyan-dadvand commented on #8205
@sunethwarna Thanks for cleaning up!

Meanwhile, I wanted to add some suggestions and tips:
1. To my understanding you are checking the results with many nodes for different models. I would suggest to only check again some relevant points (like near the inlet, in the outlet, near the wall, etc.) To my experience, this kind of all nodes checks gives more false negatives and headaches rather than he

[2021-02-03 10:46] mpentek opened #8208 "[StructMech][Eigenvalue] Correct way of getting the number of eigenvalues and shapes wanted"
**Description**
I am using the StructuralMechanicsApplication to solve for eigenvalues. As far as I see, the solve is correct, but I am not getting the amount of eigenvalues that I would need. Independent of the settings, I get 5 which I can display and also in the terminal I see only 5 once the solve is done.

Here are 2 small examples:

- [a cantilever modeled with beam elements](https://syncand

[2021-02-03 11:33] e-dub commented on #8208
You can change this in the ProjectParameters.json file
[code]
or in the Python file

[code]

[2021-02-03 12:07] sunethwarna commented on #8205
Hi, I created #8209 to fix this. In this PR I am only shortening the filenames.

@pooyan-dadvand Thanks for the tips. It makes perfect sense. I'll make the changes in a different PR in future, because it is a large change and it will have lots of conflicts with the branches I am working with.

[2021-02-03 13:11] philbucher commented on #8208
we already checked this, no matter what is in the ProjectParams the solver spits out 5

[2021-02-03 13:44] e-dub commented on #8208
You guys have linear_solver_settings instead of eigensolver_settings in the JSON.  Then it takes the default.  Can that be?

This delivers 10 eigenvalues for your model:

[code]

[2021-02-03 14:04] mpentek commented on #8208
Ok, so that actually works, meaning I had to replace
`        "linear_solver_settings"     : {`
with
`        "eigensolver_settings"     : {`

I this the intended behavior? I find it misleading as I anyway specify
`        "solver_type"              : "eigen_value",`

[2021-02-03 14:24] #8205 closed

[2021-02-03 18:20] Nelmaireni commented on #8133
Hi Vicente. Thanks. I remember you. Good to hear that you are already a doctor. Congratulations.
Thanks to all for helping me.
Thanks, Riccardo for adding me to Kratos Team.
Thanks and best regards,
Keep in touch,
Nelson

[2021-02-03 18:20] Nelmaireni commented on #8133
Muchas gracias.
Ya funcionó.
Gracias a todos.
Gracias Riccardo por agregarme  al equipo.
Saludos
Nelson
|
On Wed, Jan 27, 2021 at 1:38 PM Philipp Bucher <notifications@github.com>
wrote:

--
Eng. Nelson M. Lafontaine Ph. D,
Structural Engineer, Solid Mechanics
Associate Professor FUNDEXTENSUS
Structural Consultant Morrison Ingenieros
CSI Technical Support SAP2000, ETABS and SAFE
Member of KRATOS-

[2021-02-04 09:04] #8133 closed

[2021-02-04 10:12] #8208 closed

[2021-02-04 11:16] mpentek commented on #7866
Closing as other communication channels are used.

[2021-02-04 11:16] #7866 closed

[2021-02-04 12:04] philbucher commented on #5003
fixed in #8214

[2021-02-04 12:16] philbucher commented on #7518
I updated to boost 1.75 and ParticleMechanics no longer compiles

I don't have the intention of updating the CI soon, but it might be necessary for the usage of C++ based parallelism I am working on together with @RiccardoRossi atm

I am not sure what the best solution would be

[2021-02-04 13:44] #5003 closed

[2021-02-05 14:29] dcagri commented on #8055
I think clear documentation regarding AMGCL, and in fact, for any type of iterative solver, would be a really good idea. And not only for structural problems, but I'd also say overall detailed documentation would be very useful.

[2021-02-06 10:12] philbucher commented on #7893
Closing as it is merged

[2021-02-06 10:12] #7893 closed

[2021-02-08 07:52] ammarkh95 opened #8238 "Embedded Navier Stokes with MPI parallelism and AGMCL"
**Description**
When running an embedded fluid dynamics simulation with MPI Parallelism type and default settings for AMGCL, the following run time error is returned: **Error: Zero pivot in ILU**

**Full log:**
[code]

Initially, I thought the problem at hand might be ill-posed but when running a similar problem with different solvers or using OpenMP the simulation proceeds normally and the result

[2021-02-08 08:55] mpentek commented on #8238
Tagging @rubenzorrilla  and @frawahl as they will now more about the embedded CFD and appropriate settings. In general would be great if you could share some insight and optimal/better settings for the embedded with MPI.

@philbucher

[2021-02-08 09:23] philbucher commented on #7806
specifying the iterator type makes it work, but I consider this a workaround
example:
[code]

note that this doesn't work with the `block_for_each`

I tried to specify the `TIteratorType` of the `BlockPartition` with the following but didn't work (although I didn't spend much time investigating)
[code]

[2021-02-08 14:52] RiccardoRossi commented on #7806
i think @rubenzorrilla has a fix locally

[2021-02-08 14:57] philbucher commented on #7806
Hm ok
Can you post it?
I already asked @matekelemen to try to make it work

[2021-02-08 15:13] rubenzorrilla commented on #7806
No... @rubenzorrilla thought to have fixed it locally but it doesn't work. :1st_place_medal:

[2021-02-08 17:45] rubenzorrilla opened #8248 "[Core] PointerVector and PointerVectorSet cbegin and cend iterators."
Should we define the `cbegin` and `cend` iterators in the `PointerVector` and `PointerVectorSet` as the `std::vector` and `std::array` do?

[2021-02-08 17:49] rubenzorrilla commented on #7806
So far we (@RiccardoRossi and I) tried this
[code]
but we are having issues with the `&&` operator...

(this required to define a `BlockPartition` constructor with `const` data container).

[2021-02-08 18:19] matekelemen commented on #7806
Here's what I tried: 21389b4fe1d7fd5df5793f6e20ac342d55e3ae97

I'm still waiting to compile and test it but I'm pretty sure it can be done like this.

The basic idea is that the iterator type is externalized to a partially specialized trait class template, which deduces the constness of the container and defines the iterator type accordingly.

Please excuse the style for now, I'll check the guide

[2021-02-08 18:49] RiccardoRossi commented on #7806
it shoukd be easier than that

@ddemidov could u take a look at the &&
in our proposal? i would take it out and simply pass a reference, not sure
why we put it there in the first place...

On Mon, Feb 8, 2021, 7:19 PM Máté Kelemen <notifications@github.com> wrote:

[2021-02-08 19:03] matekelemen commented on #7806
Well, I tried to avoid code duplication and it seemed the best way to go. Anyway, so far I tested it with a ```block_for_each``` that doesn't use a reducer and it works.

[2021-02-08 20:01] philbucher commented on #8248
What would be the use?

[2021-02-09 04:55] ddemidov commented on #7806
I think the universal references were there to support arbitrary inputs (temporaries, const and non-const references).
Using just the const references could be problematic if one wants to modify the container elements in the functor. And using non-const references does not allow temporaries.

[2021-02-09 06:33] RiccardoRossi commented on #8238
you may also try the amgcl_ns_solver with default settings

Riccardo

On Mon, Feb 8, 2021 at 8:53 AM Ammar Khallouf <notifications@github.com>
wrote:

[2021-02-09 06:33] RiccardoRossi commented on #8248
you have a non-const vector and you want to get const iterators from it.

it is defined in the standard...

[2021-02-09 07:27] RiccardoRossi commented on #8248
just pointing here to a discussion about the meaning of &&. A bit mind-blowing (for me) but an interesting read

https://isocpp.org/blog/2012/11/universal-references-in-c11-scott-meyers

[2021-02-09 07:42] ammarkh95 commented on #8238
@RiccardoRossi Thanks for your reply.

[2021-02-09 07:59] RiccardoRossi commented on #7806
here goes a "simple" solution by @ddemidov (thx a lot Denis!!)

https://gist.github.com/ddemidov/499e37801a326bd17a04feac1843ba0b/revisions

aside of this diff we should also change the constructor by container to

[code]

[2021-02-09 08:00] rubenzorrilla commented on #8238
The AMGCL Navier-Stokes is available for all problems. You need to specify `"solver_type" : "amgcl_ns_solver"`. I'll try to reproduce the example to figure out what is the problem.

[2021-02-09 09:51] mpentek commented on #8238
@RiccardoRossi is this a specific preconfigured AMGCL solver for NS that you would recommend to use generally for CFD problems?

[2021-02-09 09:54] RiccardoRossi commented on #8238
It is a classical block decomposition solver for Navier-Stokes. It should
work fairly well for generic CFD problems, and with some luck be around
twice faster the current default.

I still have as a todo to interface the mpi-parallel version of it

On Tue, Feb 9, 2021 at 10:51 AM mpentek <notifications@github.com> wrote:

[2021-02-09 10:01] mpentek commented on #7877
@frawahl " the values in the output file of the PointOutputProcess won't change for a certain number of time steps"

Apart from the discussion above, might it be that you observe the behavior above in MPI? Now this might be cause how writing out is handles by the [`time_based_ascii_file_writer_utility`](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/python_scripts/time_based_ascii

[2021-02-09 11:20] frawahl commented on #7877
The problem exists in MPI as well, but also in OpenMP.
I think @rubenzorrilla is right with his analysis: The issue is not that no output is written, the issue is that outdated output is written, as `EmbeddedSkinVisualizationProcess` will only update the variable values, if `IsOutputStep` of an (associated?) output process is called.

[2021-02-09 11:42] rubenzorrilla commented on #7877
Yes, long story short the problem is that the `PointOutputProcess` API doesn't match that one expected for an output process.

[2021-02-09 11:45] mpentek commented on #7877
I am not sure about the solution, but I am sure that other processes are also probably affected or should be considered, as these are typically piled into the auxiliary process list, although these are clearly output processes (such as drag, HDF output and so on).

[2021-02-09 11:54] mohittyagi-k opened #8257 "Compilation error on Centos 7"
**Description**

Getting the following error on centos7 for `ExecuteFunctorInContainer`

![image](https://user-images.githubusercontent.com/62013692/107359318-8c1cd480-6afa-11eb-9646-ac4241894441.png)

**Scope**
This is happening during compilation on centos7 (GNU 4.8.5). Compiles fine with GNU 8.3.1 or MSVC.

Resolution of the issue required for the latest merge of Kratos.

Attn: @sunethwarna @dd

[2021-02-09 12:06] pooyan-dadvand commented on #8257
Maybe related:
https://stackoverflow.com/questions/20006574/workaround-for-variadic-lambda-capture

[2021-02-09 12:15] pooyan-dadvand commented on #8248
Ok for me, in fact it would be a copy of `begin() const`

[2021-02-09 12:36] mpentek commented on #8238
That sound great! Once you have an MPI version, I could test it on some fairly large CFD models on HPC a measure performance.

[2021-02-09 13:05] #7806 closed

[2021-02-09 13:28] rubenzorrilla commented on #8248
I think so too.

[2021-02-09 13:28] rubenzorrilla commented on #8248
I'll take care.

[2021-02-09 15:38] RiedlAndreas opened #8259 "[TwoFluidNavierStokes] Non converging sloshing simulation"
**Description**
I'm implementing a 2D rectangular water tank in the TwoFluid Application functioning as a Tuned Liquid Damper. The acceleration of the water tank is coupled with a structural model.

**Problem**
For high dynamic cases, a lot of water sloshing and wave breaking the TwoFluid application does not converge. Can anyone give me any clues, tips or tweaks for my solver settings? @rubenzorr

[2021-02-09 17:13] mrhashemi commented on #8259
Hi,
Please follow these two steps:
1. Increase the "verbosity" of the linear solver to check if it is converging at each iteration.
2. Use "ApplyDistanceModificationProcess" with a rather large "distance_threshold" (= 0.01 for example).

[2021-02-09 17:42] sunethwarna commented on #8257
I'm sorry I'm little bit lost in here, I don't have any way to reproduce or test this :/

[2021-02-09 18:57] loumalouomega opened #8261 "[StructuralMechanicsApplication] Question about beam"
**Description**
This question is presented by @Joekchu, I could not dedicate time to it. I am still thinking in a good answer, but maybe some can contribute already.

**Scope**
- @KratosMultiphysics/structural-mechanics

[2021-02-09 22:20] rubenzorrilla commented on #8261
Maybe a custom `unordered_map`?

[2021-02-10 08:10] philbucher commented on #8261
there are some search structures in Kratos which I think can be used

[2021-02-10 08:23] philbucher commented on #8257
@KratosMultiphysics/altair why don't you add your configuration to the CI?
I saw the other day that CentOS [offers docker containers](https://hub.docker.com/_/centos) (same as e.g. Ubuntu does). There are also [other resources](https://github.com/precice/ci-images/blob/master/ci-centos7.dockerfile) that can be interesting.

Having set up several times already the CI with Github actions I am quite

[2021-02-10 11:26] rubenzorrilla commented on #7877
As a rule of thumb, I'd take that any process that outputs to a file needs to implement such `IsOutputStep`-like functionalities. If there is no output to file, but only value postprocessing, then it should be a process.

[2021-02-10 13:43] pau-mar commented on #8101
I have created a process that computes the area corresponding to the interior of the interface (i.e. the area with DISTANCE negative values). It takes into account the area from the cut elements. Maybe it can be useful to somebody working on a similar project.

[2021-02-10 13:57] RiedlAndreas commented on #8259
Hi, thanks for your respond.

1. For this case it only achieves a convergence up to time_step 3783. Then it no longer converges.

[code]

2. Unfortunately, increasing the distance_threshold does not bring any improvement.

Also choosing a very small time_step does not bring any help. Then it stops converging even earlier. Do I've to adjust another value to calculate with a very small time_step for

[2021-02-10 14:08] RiccardoRossi commented on #8259
can u post a snapshot of velocity and pressure at the step just before it fails?

[2021-02-10 14:43] RiedlAndreas commented on #8259
![grafik](https://user-images.githubusercontent.com/28905563/107524848-8b497880-6bb6-11eb-938c-27e498316b43.png)
![grafik](https://user-images.githubusercontent.com/28905563/107524914-98fefe00-6bb6-11eb-850d-39ae865ece58.png)
![grafik](https://user-images.githubusercontent.com/28905563/107524956-a3b99300-6bb6-11eb-9f8e-3ce42c6e0f0e.png)

[2021-02-10 14:45] RiccardoRossi commented on #8259
i think that you have an inlet been created at the top. I mean velocity going towards the inside of the domain in a point where the velocity is not fixed. That is not defined as a BC...and i guess provoques the failure

to check, take a look at the vectors, not just at their norms

[2021-02-10 14:50] RiedlAndreas commented on #8259
![grafik](https://user-images.githubusercontent.com/28905563/107525609-4d991f80-6bb7-11eb-9fe1-3b1016d8174d.png)

Top boundary is only assigned to pressure = 0 right now

[2021-02-10 14:54] RiccardoRossi commented on #8259
yes, that's the problem, you have a vortex which enters from the top. The behaviour is undefined since you need to prescribe BCs at the beginning of each streamline.

[2021-02-10 15:00] RiedlAndreas commented on #8259
Ok. I wonder cause it converges in another simulation with less dynamic movement and smaller velocities. Also with entering velocity from the top condition.

[2021-02-10 15:02] RiccardoRossi commented on #8259
it MAY converge, or fail...typically it fails when you have a strong vortex crossing the boundary

[2021-02-10 15:03] RiedlAndreas commented on #8259
All right thank you. I'm gonna try to prevent this scenario

[2021-02-10 15:06] mrhashemi opened #8266 "Different "include" requirements in serial and parallel cases"
**Description**
While everything was easily compiled for the serial (USE_MPI=OFF) case, I encountered an strange undefined pointer variable (NEIGHBOUR_NODES) error by setting USE_MPI=ON.
The error is resolved by **_#include "includes/global_pointer_variables.h"_**, however it creates a confusion since there should not be any discrepancy between the serial and parallel cases in this regard.
**Note:

[2021-02-10 15:16] RiccardoRossi commented on #8266
@mrhashemi why do you need the neighbours? i thought you only needed the L2 projections

[2021-02-10 15:24] mrhashemi commented on #8266
The calculation of the limiter is based on the Neighboring nodes. Its formula needs "u_i - u_j".

[2021-02-10 15:41] RiccardoRossi commented on #8266
ok then

[2021-02-10 17:05] ddiezrod commented on #8257
That'd be really great. We are actually working on that on our side now. I dont completely understand how they work yet, so we may need some help from your side...

[2021-02-10 18:09] philbucher commented on #8257
sure, let me know as soon as you have a branch or PR, then I can take a look

[2021-02-10 20:35] rubenzorrilla commented on #8101
I rather create a utility for that as this is intended to be used as an auxiliary tool (most probably inside a process).

[2021-02-11 07:48] RiedlAndreas commented on #8259
It seems like that was the problem. Thank you.

[2021-02-11 07:48] #8259 closed

[2021-02-11 13:45] vovannikov commented on #8087
Thank you @maceligueta for your hints, after all I managed to implement what I initially planned to try. May I ask another thing. I found only some basic examples with mainly 2 particles in Kratos. Are there any examples with entire compounds of particles? Not necessarily for sintering, of course. I am mainly interested in the following. Does Kratos offer some tools for generation of initial packi

[2021-02-11 14:03] maceligueta commented on #8087
Hi @vovannikov , folder `tests `contains small tests. However, folder `test_examples `contains a bit bigger and more complex cases.
Usually, when we want to generate complex geometries and packings, we use GiD. We developed a GUI based on GiD.
Other teams are starting to use Salome (structures, fluids?,...).
The generation of geometries is a hot topic which most probably will be **briefly** addres

[2021-02-11 16:38] dzheng-conti opened #8278 "Pressure load failed"
**Description**
I tried to add pressure to a tube like structure. The simulation failed to converge. When I reduced the pressure to less than 1% of the initial value. Simulation works but with very small deformation. Could you help me on what I did wrong? Files are attached.
[Pressure_load.tar.gz](https://github.com/KratosMultiphysics/Kratos/files/5966901/Pressure_load.tar.gz)

**Scope**
Structure

[2021-02-12 09:05] philbucher commented on #8278
@KratosMultiphysics/structural-mechanics

[2021-02-12 09:13] AlejandroCornejo commented on #8278
Dear @dzheng-conti , can you attach the case so we can check everything? the original that is not working properly.
Thank you and sorry for the inconveniences.

[2021-02-12 11:10] dzheng-conti commented on #8278
@AlejandroCornejo , the example files are attached in my initial post. Thanks for your help.

[2021-02-12 11:18] AlejandroCornejo commented on #8278
Thank you, I've checked the input files and I've noticed that `YOUNG_MODULUS` is set to 100 Pa. This means that the material is extremely flexible (I suppose you want 100 MPa?).

[2021-02-12 11:25] dzheng-conti commented on #8278
The units used in the example are N and mm. So YOUNG_MODULUS 100 is actually 100 MPa. Is Kratos unit free?

[2021-02-12 11:31] AlejandroCornejo commented on #8278
As far as I know, if in the input data is 100 should be in international units (100 Pa) @RiccardoRossi , Maybe the GUI should do this conversion?

[2021-02-12 13:23] dzheng-conti commented on #8278
@AlejandroCornejo Here is another hint which may help. I reduced the pressure final value from 0.3 to 0.001 (mono04-infX.json). Kratos works and the displacement is reasonable (compared with other fem code). The max Z displacement is 0.022 mm. Then I changed the pressure to 0.002 (mono04-infY.json). Kratos also works. However, the displacement is strange. At step 5 out of 10, the displacement is s

[2021-02-12 15:29] philbucher commented on #8257
After speaking with @pooyan-dadvand and @sunethwarna we decided to try to remove some variadic templates which will hopefully solve the problem

[2021-02-13 10:51] AlejandroCornejo commented on #8278
Dear @dzheng-conti , I've been testing and I've noticed that if you use the `SmallDisplacementSurfaceLoadCondition3D4N` instead of the `SurfaceLoadCondition3D4N` it converges correctly!

Maybe there's a bug inside the `SurfaceLoadCondition3D4N` @philbucher @RiccardoRossi

[2021-02-13 12:48] RiccardoRossi commented on #8278
is it a large displacenent case, or a small displacement one?

On Sat, Feb 13, 2021, 11:51 AM Alejandro Cornejo Velázquez <
notifications@github.com> wrote:

[2021-02-13 13:41] AlejandroCornejo commented on #8278
This case is a small displ case in my opinion, the geometry does not change so much. Maybe with a very high pressure it is necessary. (It's a wheel with an inner pressure)

[2021-02-13 17:38] loumalouomega commented on #8261
OK, after thinking this is quite a mix what is done in the remeshing processes and the contact search algorithms.

Ok, I will do a simplified C++ code in order to show what can be done:

For this case let's suppose you have already separated the model part of the beams and the solids.

First you need to define a variable for a vector Element::Pointer (see other applications how to be declared), be

[2021-02-13 17:38] loumalouomega commented on #8261
Basically that @Joekchu, I think is quite detailed

[2021-02-14 08:48] rubenzorrilla commented on #8278
More than international units the input must be in a consistent system of units, meaning that N - mm is fine. The GUI already has the capability to convert between different pre-stablished units (only for the material properties so far).

[2021-02-16 09:25] miguelmaso opened #8303 "Compilation error in modified shape functions"
**Description**
I'm obtaining the following compilation error:
[code]

**Scope**
- Compilation
- KratosCore

**Environment**
- OS: Ubuntu 16.04
- Branch: master

[2021-02-16 09:26] rubenzorrilla commented on #8303
Which compiler are you using?

[2021-02-16 09:29] miguelmaso commented on #8303
that appears in my console:
-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0

[2021-02-16 10:40] riccardotosi opened #8304 "Annoying multiple repetitions of ReadMaterialsUtility warnings"
**Description**
I am running the following case:

1. initialize and run problem on mesh 0
2. refine using meshing application --> mesh 1
3. initialize and run problem on mesh 1
4. refine using meshing application --> mesh 2
5. initialize and run problem on mesh 2
6. etc.

Starting from stage 3., many warnings as
[code]
appear. This becomes quite annoying for my application of interest, since the w

[2021-02-16 11:18] rubenzorrilla commented on #8303
Can you try this?
[code]

In any case I think that this problem would be solved using a new version of the compiler.

[2021-02-16 11:23] rubenzorrilla commented on #8304
There are two things to comment in here.
1. You are defining the materials twice (in the mdpa and in the materials.json). Hence the overwriting warning must be there in order to let the user know about which material parameters are to be used (the ones in the materials.json) since these could be different.
2. What I agree it that defining empty properties in the mdpa and then giving values in the

[2021-02-16 11:29] loumalouomega commented on #8304
+1

[2021-02-16 11:41] riccardotosi commented on #8304
Hi @rubenzorrilla , I understand your point 1. However, setting empty properties does not change my issue, since the warnings appears in step 3.1. This is the sketch:

1. initialize and run problem on mesh 0
1.1. No warnings about materials
2. refine using meshing application --> mesh 1
3. initialize and run problem on mesh 1
3.1. ReadMaterialsUtility warnings are printed
4. refine using meshing a

[2021-02-16 11:49] philbucher commented on #8304
Why do you re-read the properties?
If you already defined them then re reading them will lead to warnings, which should be like that

[2021-02-16 11:56] riccardotosi commented on #8304
Because in a Multilevel Monte Carlo algorithm you solve your problem on levels of different accuracy, namely multiple meshes. Then, you first run on the coarsest level, then you refine, then you solve the problem on the AMR mesh.

I agree that not re-reading properties would solve my issue, but I do not see this possibility in the solver I am using.

[2021-02-16 12:00] philbucher commented on #8304
Then the solver should be modified accordingly
I do not agree about removing the warnings, those were added for a reason and must be printed in the standard workflow

[2021-02-16 12:11] riccardotosi commented on #8304
Hi @philbucher, I am not commenting to remove the warnings from the core utility.

I am reporting an issue I have, and maybe some feature to solve my problem is already present in Kratos. If nothing is present in Kratos, also to me the easier solution is to modify the solvers of the applications I am using. But would this be a good solution?

[2021-02-16 12:16] philbucher commented on #8304
Ah sorry then I misunderstood

no also to my knowledge there is nothing that you could directly use

[2021-02-16 12:56] miguelmaso commented on #8303
yes, this worked

[2021-02-16 14:44] riccardotosi commented on #8304
Ok. If @rubenzorrilla and @loumalouomega agree, I will implement specific changes directly in the solver.

[2021-02-16 14:56] philbucher commented on #8304
In structual it is already possible not to read materials
if you leave the materials file name empty it will do nothing

I would use the same concept to have it consistent

[2021-02-16 15:02] riccardotosi commented on #8304
Now that you mention, also the convection diffusion solver offers this possibility in [here](https://github.com/KratosMultiphysics/Kratos/blob/master/applications/ConvectionDiffusionApplication/python_scripts/convection_diffusion_solver.py#L357). I will try to use this feature!

[2021-02-16 15:36] philbucher commented on #8304
for once copy-paste payed off :D

[2021-02-16 17:34] #8303 closed

[2021-02-17 08:38] RiedlAndreas opened #8313 "[TwoFluids] Access to variables from base class in NavierStokesMPITwoFluidsSolver"
**Description**
Setting up a MPI TwoFluids simulation I get an error in NavierStokesTwoFluidsSolver -> InitializeSolutionStep:

`AttributeError: 'NavierStokesMPITwoFluidsSolver' object has no attribute '_reinitialization_type' `

This variable is defined and read in "NavierStokesTwoFluidsSolver.__init__(...)". But as far as I can tell in constructing the NavierStokesMPITwoFluidsSolver the construc

[2021-02-17 09:05] RiedlAndreas commented on #8313
@rubenzorrilla @jcotela ? As I saw your names in reviewing the NavierStokesMPITwoFluidsSolver ..

[2021-02-17 09:45] rubenzorrilla commented on #8313
These changes were introduced by @mrhashemi . Thanks for reporting @RiedlAndreas .

[2021-02-17 10:36] philbucher commented on #8313
@rubenzorrilla it seems like this is another issue stemming from the MPI-fluid solvers not calling the serial version in the init :sweat_smile:

[2021-02-17 11:29] philbucher commented on #6291
closing this as the current behavior is the expected one and the @KratosMultiphysics/technical-committee disagrees changing this as it would no longer be generic (e.g. for fluid would break things)

see also [here](https://github.com/KratosMultiphysics/Kratos/pull/6296#pullrequestreview-432152130)

the correct solution is to specify two process for each interval (the second one is used to set the

[2021-02-17 11:29] #6291 closed

[2021-02-17 11:44] rubenzorrilla commented on #8313
It is in the top part of the TODO list of the fluid project... I'll take care ASAP.

[2021-02-17 11:57] #8257 closed

[2021-02-17 12:29] RiedlAndreas commented on #8313
The merge #8315 should fix the problem. Thank you

[2021-02-17 12:29] #8313 closed

[2021-02-17 14:05] RiedlAndreas opened #8319 "[TwoFluids][MPI] Linear solver settings, not consistent block size"
**Description**
Running a MPI TwoFluids simulation. I get an error message in navier_stokes_two_fluids_solver -> InitializeSolutionStep -> _GetLevelSetConvectionProcess
`RuntimeError: Error: Block size is not consistent. Local: 1 Max: 3`
`RuntimeError: Error: The block size employed 3 is not an exact multiple of the matrix size 8209`

I use the following LinearSolverSettings:
[code]

Deleting the

[2021-02-17 16:32] Rbravo555 commented on #6359
Related the multipoint constraints, I think the file **StructuralMechanicsApplication/tests/test_multipoint_contstraints.py** is outdated, since it calls the **KratosMultiphysics.StructuralMechanicsApplication.ApplyMultipointConstraintsProcess** which does not exist

[2021-02-17 16:41] loumalouomega commented on #6359
Huuum, probably, when that process was removed?

[2021-02-17 16:41] loumalouomega commented on #6359
In any case that is not in the ContactStructuralMechanicsApplication

[2021-02-17 16:46] Rbravo555 commented on #6359
My bad, the outdated test is in the StructuralMechanicsApp, not ContactStructuralMechanics. I looked for a similar issue instead of opening a new one.

I dont know when the ApplyMultipointConstraintsProcess was removed, I was just trying to build a similar test and discovered it is not there anymore...

[2021-02-17 17:46] mpentek commented on #8319
Perhaps @sunethwarna ?

[2021-02-17 19:16] philbucher commented on #6359
@adityaghantasala do you know what happened to this?
AFAIK it was moved to the core but I dont remember any more

maybe also @KlausBSautter knows

[2021-02-18 06:59] tteschemacher opened #8326 "Kratos does not compile under Windows since Initial Strain update"
Hey,

since today KRATOS doesn't compile on my windows machine anymore.

It has a linking error coming from the introduction of the InitialStrainVector.

Beginning of error log:
``
1>   Creating library C:/Users/s4618455/Documents/KRATOS/k_trim/Kratos/build/Release/kratos/Release/KratosCore.lib and object C:/Users/s4618455/Documents/KRATOS/k_trim/Kratos/build/Release/kratos/Release/KratosCore.exp

[2021-02-18 07:58] adityaghantasala commented on #6359
Yes the linear master slave constraints are moved to core .

https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/tests/test_linear_constraints.py

https://github.com/KratosMultiphysics/Kratos/blob/b9ba3a510c6fedf43678b627b18e42b11230e0d9/kratos/tests/test_KratosCore.py#L131

We can remove the one in the StructuralMechanicsApplication.

[2021-02-18 08:25] rubenzorrilla commented on #8319
Is the same simulation working fine in serial?

[2021-02-18 08:30] AlejandroCornejo commented on #8326
Hi! Van you try a clean compilation? It happened to me as well and I had to remove the compilation old folder

[2021-02-18 08:39] RiedlAndreas commented on #8319
Yes. Without any problems.
I also tried the [TwoFluidExample ](https://github.com/KratosMultiphysics/Examples/tree/master/fluid_dynamics/validation/two_fluid_wave) with MPI and is not working.
Other FluidDynamics MPI test are working.

[2021-02-18 08:50] rubenzorrilla commented on #8319
Can you try with a different MPI partitioner?

[2021-02-18 08:53] mpentek commented on #8319
What do you mean by that? Which setting to touch?

[2021-02-18 08:53] tteschemacher commented on #8326
OK, I will give it a try. But what is the reason for this then?

[2021-02-18 08:56] rubenzorrilla commented on #8319
This `"partition_in_memory" : true` in the  `model_import_settings`.

[2021-02-18 08:57] philbucher commented on #8326
larger changes sometimes confuse the compiler, this is annoying but generally nothing to worry about, esp if it works with a clean installation

[2021-02-18 09:01] RiedlAndreas commented on #8319
Set partition_in_memory to true -> Unfortunately appears the same error

[2021-02-18 09:06] rubenzorrilla commented on #8319
I was afraid it was something with the partitioner but seems to not be related to this... @RiccardoRossi any hint?

[2021-02-18 10:07] mpentek commented on #8319
In case there is a working MPI example for TwoFluids, it would be nice to know, @RiedlAndreas  can also share his (or a minimal version) to rule out any model issued or misuse of parameters.

[2021-02-18 10:20] PhiHo-eng opened #8328 "SIMP element for topology optimization"
Hi everyone,

I am busy with the reactivation of the `Topology Optimization Application`, but I am having trouble implementing the `SIMP element` based on the `small-dispalcement` solid element ([`small_displacement.cpp`](https://github.com/KratosMultiphysics/Kratos/blob/master/applications/StructuralMechanicsApplication/custom_elements/small_displacement.cpp)) of the `Structural Mechanics Applica

[2021-02-18 10:31] loumalouomega commented on #8328
Taking a fast at your code I have many comments, but the important thing, what is the problem?

(and the approaches are no so different)

[2021-02-18 10:50] PhiHo-eng commented on #8328
Tanks for that super fast answer!

This is the error that I get:

[code]

My assumtion is that this error, due to the slightly different functions, is caused in the calclaute() funtion. Would it be possibel for you to make a quick video chat via MSTeams or Zoom in order to give me all the comments you have for me?!

Thanks in advance!

[2021-02-18 11:01] philbucher commented on #8326
does it work now @tteschemacher ?

[2021-02-18 15:06] philbucher commented on #8328
considering where the error comes from I would say you didn't specify a constitutive law

[2021-02-18 15:14] Joekchu opened #8333 "Problems in compilation"
**Description**
Dear all,

When I engage to compile the MKL-related application, I got the below errors. I don't know how to fix it, could you please help me? Also, I don't know what means "**AUX6-NOTFOUND;AUX5-NOTFOUND**"

***************************************************************************
****** kratos configured for using the mkl shipped with intel >= 2013 *****
************************

[2021-02-18 15:40] philbucher commented on #8333
can you please post your configuration?
OS, compiler, configure file etc

[2021-02-18 16:03] PhiHo-eng commented on #8328
Thank you for checking out the error.

I am not quite sure, what you mean. Do I have to make this specification in the `SIMP_element` or do I have to specify this in the `runTopOpt` file?

[2021-02-18 16:16] Joekchu commented on #8333
@philbucher

Hi, thank you Philipp, I already fix it. The compilation is proceeding on Linux. After I add a symbolic link, it works. Sorry to disturb you so much!

[2021-02-18 16:16] #8333 closed

[2021-02-18 16:34] philbucher commented on #8328
usually the constitutive law is set in the solver
If I understand correctly you are using the basic structuralmechanics workflow and slightly modify it to make the topopt work no?
Does your example run in the regular workflow, aka without your modifications?

[2021-02-19 00:22] tteschemacher commented on #8326
Indeed, it compiles. Thanks guys.

[2021-02-19 00:22] #8326 closed

[2021-02-19 11:56] emiroglu commented on #8097
Coming from #8330 I am planning to add a `linear_solvers_settings` in the `ProjectParameters.json` for selecting the MKL solvers. Here, the start would be to make only the solvers available, which are already interfaced. The default would be `pardiso_ldlt` as it was before, since it is apparently the fastest one.

[2021-02-20 08:09] RiedlAndreas commented on #8319
Minimal example to try out is the two_fluid_wave_example as MPI.
[two_fluid_wave_mpi.zip](https://github.com/KratosMultiphysics/Kratos/files/6014401/two_fluid_wave_mpi.zip)

[2021-02-20 08:27] swenczowski commented on #8319
After an e-mail has reached me in this concern, I also would like to contribute a guess:

Can you try and use a different "solver_type" (or have you done so already)? I just saw that "amgcl" is also set as the default solver.

Best regards to all, Simon

[2021-02-20 09:10] RiedlAndreas commented on #8319
That's a good guess and unfortunately a solution I didn't tried earlier.
I was pretty sure that amgcl should be the most robust solver for this.

In fact it is working with other solvers like multi_level or bicgstab.

Any hints on which solver to choose regarding computing speed ?

[2021-02-20 11:15] RiccardoRossi commented on #8319
block siE should be 1 if u use a convection solver

On Wed, Feb 17, 2021, 3:05 PM RiedlAndreas <notifications@github.com> wrote:

[2021-02-20 13:24] rubenzorrilla commented on #8319
AMGCL is the reference solver for CFD problems. If this is not working, you can use the `multilevel_solver` (the "old" multigrid we used to use when there was no MPI AMGCL).

What @RiccardoRossi is pointing to might be the cause of the problem. The same linear solver used for the NS equations is used for the resolution of the levelset convection problem, which features a block size 1 as he said.

[2021-02-20 14:34] rubenzorrilla opened #8346 "[Fluid] Wrong level set correction in two-fluids solver"
**Description**
I've realized that in the two-fluids solver the level set correction is applied to the old level set (i.e. that one that is to be modified by the convection). This happens since the distance correction is applied as a process in the json settings. As these are applied prior to the level set update, that occurs in the `InitializeSolutionStep` of the solver, we are basically doing no

[2021-02-20 16:23] RiccardoRossi commented on #8346
well, we need to be a bit careful with this ordering.

I am not telling that you did not detect an error, simply i wanted to observe that redistancing may also change the volume (although of course it attempts not to)

[2021-02-20 20:10] rubenzorrilla commented on #8346
Nice one. Then we should discuss:

1) Level set convection
2) Redistancing
3) Mass correction. Note that right now this is done out of the solver but @uxuech is working on introducing it into the solver (the same problem happens, you want to correct the level set that you are about to use in the N-S resolution)
**OPTION A: Distance correction**
4) Distance smoothing
**OPTION B: Distance correction

[2021-02-21 12:44] mrhashemi commented on #8346
The major point here is that the modification (to prevent the zero-cut) should be done just before calling the element splitting routines (one call is within the NS element and the other one is within mass correction process).
Meanwhile, there is a chance that both the correction and smoothing processes create a zero-cut. Re-distancing, if used with a careful choice of the option (**in theory**) w

[2021-02-21 15:10] rubenzorrilla commented on #8346
Considering that the ill-conditioned cuts that might appear prior to the mass correction shouldn't affect the performance of it, this makes sense for me. One thing that seems strange to me is doing the re-distancing before the convection (I assume that step 2- level-set means convection). @mrhashemi which is the rationale behind this change?

[2021-02-21 15:27] mrhashemi commented on #8346
Yes, by _level-set_ I mean convection. The fact is that keeping the level-set function as the real distance is basically needed by the level-set convection. Anyway, if an exactly **zero**-cut occur, the mass correction could have also been failed, therefore, there is an internal check/slight modification for this situation.

[2021-02-22 07:04] rubenzorrilla commented on #8346
The point is that if we do the redistance before the convection we do not ensure that the levelset is a real function for the gradient calculation... Wouldn't this be problematic? Aside of this, (if I'm not wrong) all the other operations do not violate the real distance property of the levelset so, even though we do the redistance after the convection, the levelset would still be a real distance

[2021-02-22 07:21] RiccardoRossi commented on #8346
When you convect the levelset you lose the property of it being a distance (norm(grad_phi)=1). The only operation that ensures that we actually get a distance is the "redistance" which unfortunately will cause some minor movements of the zero level set.

on the other hand if you simply add a constant to the levelset function as you would in the case of just shifting it you preserve the distance pr

[2021-02-22 08:48] riccardotosi commented on #8304
After discussing in #8336, the solution to remove warnings as
[code]
is to use empty properties in the `mdpa` and to define properties in the material file with **different** property Id.

As discussed in this issue, to remove warnings as
[code]
it is enough to use of "" as materials filename.

[2021-02-22 08:49] riccardotosi commented on #8304
The issue will be closed when #8335 is merged.

[2021-02-22 08:54] mrhashemi commented on #8346
One thing that is of major importance is that the level-set convection should be applied to a **real distance**; that is why I propose doing re-distancing at the beginning.
As @RiccardoRossi mentioned, the re-distancing processes that are currently developed also affect the zero-level-set (interface). Therefore, you would not gain anything regarding the distance-gradient (if you manually divide it

[2021-02-22 13:09] Theshahzeb commented on #1821
I was assigned to complete this task & i tried this `test_custom_scipy_base_solver.py` test case AS IS to start but even that failed. screenshot: [scipy_test_error.png](url).
I am fairly new to this and I would really appreciate any help. Thanks

[2021-02-22 13:23] Theshahzeb commented on #1821
hello, I was assigned this task and to start i ran this `test_custom_scipy_base_solver.py` test case AS IS but it failed [screenshot](https://github.com/Theshahzeb/static-beam/blob/main/scipy_test_error.png)
I am fairly new and I would really appreciate any help. Thanks

[2021-02-22 14:05] manuelmessmer commented on #1821
hi, in the screenshot I saw that you called a file called `test_compare_scipy_eigen.py`. Did you create that file yourself. Seems like your system of equations is singular. If you run python3 `test_custom_scipy_solver.py` it should work.

[2021-02-22 15:41] Theshahzeb commented on #1821
Its the same file actually, replacing
[props[KratosMultiphysics.COMPUTE_LUMPED_MASS_MATRIX] = False](https://github.com/Theshahzeb/static-beam/blob/8dd23215991d89af23d53c99112e8b0b7abd58c3/test_compare_scipy_eigen.py#L143)
with
`props[StructuralMechanicsApplication.USE_CONSISTENT_MASS_MATRIX] = True`
seems to work except these warnings : [custom_scipy_test_warnings](https://user-images.githubuserc

[2021-02-22 16:21] manuelmessmer commented on #1821
It complains because if a block_builder_and_solver is used the first eigenmodes depend on the applied Dirichlet boundary conditions and will lead to zero eigenvalues. Therefore, in this case it is better to use elimination builder `use_block_builder=false` under `builder_and_solver_settings`. The variable in this test is deprecated. It is still `block_builder = False`. Anyways it should work with

[2021-02-22 17:03] manuelmessmer commented on #1821
I did the changes here: #8355

[2021-02-23 09:17] Vahid-Galavi opened #8357 "Many warnings in initial_state.h"
**Description**
I have been compiling the latest version of Kratos and getting many many warnings during compilation of kratos.core saying:

warning C4717: 'Kratos::InitialState::save': recursive on all control paths, function will cause runtime stack overflow
warning C4717: 'Kratos::InitialState::load': recursive on all control paths, function will cause runtime stack overflow

**Scope**
- Compil

[2021-02-23 09:18] loumalouomega commented on #8357
That's the serializer BTW

[2021-02-23 10:56] philbucher commented on #7536
@ashishdarekar some info for doing this:
The `Variable`s have a `Name` method which gives you a string, from which you can get the `length` for the formatting
you can use this [test](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/tests/cpp_tests/strategies/convergence_criteria/test_mixed_generic_criteria.cpp) to check the output

[2021-02-23 11:28] rubenzorrilla commented on #7536
[code]
Maybe a bit picky, but I think it would be nicer in this way (note the double dot in `ROTATION`).

[2021-02-23 13:23] philbucher commented on #7536
@ashishdarekar I agree with @rubenzorrilla, can you please do it as he suggests?

[2021-02-23 14:44] KlausBSautter opened #8361 "[DEM] PostProcessing Cluster Contact Forces"
Hi, I just realized that I cannot postprocess any contact forces for clusters anymore.
Here is the example (excuse the naming ....)
[aaaaa.gid.zip](https://github.com/KratosMultiphysics/Kratos/files/6029552/aaaaa.gid.zip)

With the cluster included I just get the following error msg when printing results for gid:

RuntimeError: Error: This container only can store the variables specified in its va

[2021-02-23 14:52] maceligueta commented on #8361
Hi @KlausBSautter I will take a look, but it will help me if you tell me a bit more: How did you activate the print of CONTACT_FORCES for GiD? From the json file? From the GiD problemtype? Or did you change some part of the code?

[2021-02-23 14:53] KlausBSautter commented on #8361
in the json file
"PostContactForces"              : true,

[2021-02-23 14:53] KlausBSautter commented on #8361
thanks :)

[2021-02-23 14:53] KlausBSautter commented on #8361
I just ran an old example and got this error, so it used to work. Thats why I setup this small example

[2021-02-23 16:33] AlejandroCornejo commented on #8357
I'll look into it whenever I can. @loumalouomega do you know why it happens?

[2021-02-23 17:34] loumalouomega commented on #8357
Nope, but save and load are methods from the serializer. @pooyan-dadvand any idea?

[2021-02-23 21:14] maceligueta commented on #8361
I just realized that I can't generate the test example as fast as I'd like due to a bug in the ProblemType. Since I have a tight agenda until Friday, I will need some days to finish this PR. Sorry about the delay.

[2021-02-24 10:13] #8304 closed

[2021-02-24 11:14] rubenzorrilla commented on #8346
After a brief final discussion we agreed to do:
In `InitializeSolutionStep`:
1. Levelset convection
2. Smoothing and surface tension requirements
3. Mass correction
4. Distance correction (the last one as the smoothing and mass correction might introduce ill-conditioned cuts)

In `FinalizeSolutionStep`:
1. Re-distancing (very last operation to ensure that the next step convection is done with a "r

[2021-02-24 11:34] rubenzorrilla opened #8368 "[Core] NormalCalculationUtils are not static"
While using the `NormalCalculationUtils` I realized that there is no limitation of these to be `static` but they are not. Wouldn't it make sense to refactor them?

[2021-02-24 14:27] KlausBSautter commented on #8361
@maceligueta no worries. Thanks for your help!

[2021-02-24 21:00] Theshahzeb commented on #1821
Hi @manuelmessmer thank you so much for the clarification and no, I am not interested in the eigenvalues, just trying to get the mass and stiffness matrices from a model to manipulate them in python.

[2021-02-25 08:30] RiedlAndreas commented on #8319
Thank you all for your input.

Unfortunately following settings still bring up the error message `RuntimeError: Error: Block size is not consistent. Local: 1 Max: 3`
[code]

It's ok for me, as I'm using the multi_level solver now.

[2021-02-25 11:18] philbucher commented on #4328
closing as I think this works now

https://github.com/philbucher/KratosSalomePlugin/pull/79
Here it works fine now for me

[2021-02-25 11:18] #4328 closed

[2021-02-25 14:38] calpe opened #8370 "Error compiling example MyLaplacianApplication"
**Description**
I am following steb-by-step Kratos for dummies.
I have created the application MyLaplacianApplication.
I compile config.sh with the new application.
I get the following compilation error:

/home/mcalpe/Dev/Kratos/applications/MyLaplacianApplication/custom_conditions/point_source_condition.cpp: In member function ‘virtual void Kratos::PointSourceCondition::EquationIdVector(Kratos::C

[2021-02-25 15:08] philbucher commented on #8370
hi @calpe
You need to include `#include "includes/variables.h"` in those cpp files, then it should work

[2021-02-25 15:36] calpe commented on #8370
It worked!
Thank you @philbucher

Very interesting the Salome plugin with Kratos. I've just read about it!

[2021-02-25 15:36] #8370 closed

[2021-02-25 15:43] rubenzorrilla commented on #8370
Just mentioning that tomorrow it will be briefly presented in the Community meeting. Find the Google Meet link in https://github.com/KratosMultiphysics/Kratos/discussions/8239

[2021-02-25 15:43] philbucher opened #8372 "[Feature request] Add valgrind to CentOS docker"
**Description**
See title. Is this possible?
@ddiezrod @pooyan-dadvand
Thx!

[2021-02-25 15:49] philbucher commented on #8370
also I just moved it from my private account to KratosMultiphysics. You can now find it here: https://github.com/KratosMultiphysics/KratosSalomePlugin

[2021-02-25 16:45] PhiHo-eng commented on #8328
Thank you again for helping me! I was able to modify the code, so that the example launched.

But I still have a problem, that the objective function is always zero. So it does not change at all. It seems that `Calculate()` in `structure_response_function_utilities.h` is either called in the wrong way or I made a mistake by defining it wrong in the `small_dispalcement_eimp_element.cpp`?

Do you ha

[2021-02-25 17:48] loumalouomega commented on #8328
Can you post the code, or link it, please?

[2021-02-25 17:50] PhiHo-eng commented on #8328
Thanks for looking into it!

This is the link to the code n my repository: [structure_response_function_utilities.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h)

[2021-02-25 17:52] loumalouomega commented on #8328
Comment, I would clean that includes, but nothing related with the topic of this issue

[2021-02-25 17:54] loumalouomega commented on #8328
Two notes, use CalculateOnIntegrationPoints, Calculate methods are not implemented (@philbucher we should clean that, and deprecate them)

The method must be implemented in the solid element, because otherwise will return an empty vector

[2021-02-25 20:55] PhiHo-eng commented on #8328
I still get a value of zero for the objective function, with the CalculateOnIntergrationPoints. I think this function is not even called.

Do you mean to ues BaseSolidElement as BaseType for the element rather than SmallDisplacement?

[2021-02-25 20:57] loumalouomega commented on #8328
You should implement CalculateOnIntergrationPoints for LOCAL_STRAIN_ENERGY. If the implementation is general you can do it in BaseSolidElement, otherwise SmallDisplacement will be OK

[2021-02-25 21:06] PhiHo-eng commented on #8328
Still learning Kratos here and sorry that I don't understand.  Where should implement CalculateOnIntegrationPoints?

I allready tried it, but I am not sur if it is right?!

[structure_respone_function_utilities.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h)

[2021-02-25 21:13] loumalouomega commented on #8328
In the element you are using (or in upper classes if it may be used there too). For example:

Take the old implementation: https://github.com/KratosMultiphysics/KratosLegacyApplications/blob/05ea65215990ba8e3999627341bd20c019b84775/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp#L140

And put in that element in the CalculateOnIntegrationPoints

[2021-02-25 22:09] PhiHo-eng commented on #8328
I implemented CalcualteOnIntegrationPoints as you suggestet:

[small_displacement_simp_element.cpp](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp)

But that gives me an error while compiling, because CaluclateOnIntegrationPoints is already used in the elment:

[code]

But it got me thinking, that I a

[2021-02-26 08:54] loumalouomega commented on #8328
You should add it as a case in the existing implementation then

[2021-02-26 09:15] emiroglu opened #8375 "[StructMech][Sensitivity] Finite differencing of structural element matrices and vectors"
**Description**
For the implementation of the modal derivatives as in #8174, and also later on some further implementations, I need to compute the derivatives of several element matrices/vectors. For this, I perform a local finite differencing at the scheme level for each element and each DOF (when rotations are included in the model they have to be perturbed too) but I could not find a consistent

[2021-02-26 09:28] PhiHo-eng commented on #8328
I do not know what I am doing wrong here and have lost the overview.  I need to get the element displacements to calculate the "compliance" for the topopt. This should be all in CalculateOnIntegrationPoints in my SIMPelement?

I tried to do so, but it is still not calculating this (or even going into the function):

[small_displacement_simp_element.cpp](https://github.com/PhiHo-eng/Kratos/blob/mas

[2021-02-26 09:34] loumalouomega commented on #8328
GetValueOnIntegrationPoints was removed recently you should move that code to CalculateOnIntegrationPoints

[2021-02-26 10:32] PhiHo-eng commented on #8328
Thank you for your help here and your fast responses, it is much appreciated!  Unfortunately it is still not working for me and it appears not even to enter the function CalculateOnIntegrationPoints.  Can that be?  I really do not understand what I am doing wrong here...

[2021-02-26 10:36] philbucher commented on #8328
How do you call `CalculateOnIntegrationPoints`?
This is not called in the "standard" workflow
=> should be called by you when you want to calculate sth

[2021-02-26 10:57] loumalouomega commented on #8328
It is inside some utilities

[2021-02-26 10:58] loumalouomega commented on #8328
Can you link the current code, so we can take a look

[2021-02-26 11:51] PhiHo-eng commented on #8328
CalculationOnIntergrationPoint is called here:

[structural_response_function_utilities.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h)

and this is the element:

[small_displacement_simp_element.cpp](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/

[2021-02-26 12:04] loumalouomega commented on #8328
Does it enter here? https://github.com/PhiHo-eng/Kratos/blob/ebcb50568eab7cf1a899644e924415d913a74e5e/applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp#L205

[2021-02-26 12:12] PhiHo-eng commented on #8328
Right, I think that is my problem.  I do not think it is calling this function.  Can this be?

[2021-02-26 12:16] loumalouomega commented on #8328
The code:

[code]
Is wrong, the element does not have LOCAL_STRAIN_ENERGY, it is in the Out vector (one value per GP), if this is a GP value.

Maybe I am lost. @philbucher Calculate should set the value in the element, or it is a duplication of the CalculateOnIntegrationPoints?

Sorry, I think i guided you wrongly

[2021-02-26 12:26] philbucher commented on #7311
this minor thing is fixed in #8363

[2021-02-26 12:50] PhiHo-eng commented on #8328
I am definitely lost. Thanks for the answers nonetheless. It is my understanding that LOCAL_STRAIN_ENERGY is not a GP value.  The differences in the old Solid App and the Structural App are just enough to throw me off.  Is it correct that the calculate command previously existed? Or is this what I need to implement in my element?  I would appreciate any further tips!

[2021-02-26 13:01] emiroglu commented on #8375
Apparently the convergence criterion in the static analysis plays also a big part in the results. What is the difference in using  `displacement_criterion` or `residual_criterion`? Does some variable get updated additionally when one or another is used?

[2021-02-26 13:07] philbucher commented on #8328
If it is a GP value I would use aka implement `CalculateOnIntegrationPoints`. If not use `Calculate`

Once you implemented it you call it. What I still don't get is if it enters the corresponding function or not. Can you check?

[2021-02-26 13:20] PhiHo-eng commented on #8328
I implemented Calculate now:

[small_displacement_simp_element.cpp](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp)

[structure_response_function_utilities.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utili

[2021-02-26 13:22] philbucher commented on #8328
are you sure this ModelPart has those elements?
How do you create them?

[2021-02-26 13:53] PhiHo-eng commented on #8328
I think so, shouldn't it take the element-type from the description in the .mdpa file?

The element is created in the simp_element.cpp right (please correct me if I am wrong). I tried to keep the element as close as possible to the form of the old TopOpt Version.

[2021-02-26 14:04] philbucher commented on #8328
So you have this element in the mdpa file?

I would make sure they are in this ModelPart, seems like sth weird is happening

[2021-02-26 15:11] PhiHo-eng commented on #8328
In Python I used the command "model_part.NumberOfElements()" to find that there were 8640 elements, the same number in my model. So it is reading these in from teh MDPA file.  Is there a way to check which element type they were read in as?
Or can I assume that we are good?

[2021-02-26 15:59] philbucher commented on #8328
I would assume that it works but apparently it doesn't :)

More serious, can you debug a but your `StructureResponseFunctionUtilities`?
I meant to check the ModelPart that you use in there.
E.g. check the number of elements and print the elements (e.g. with cout)

Regarding the mdpa, what name do you use for the elements block?

[2021-02-26 16:06] PhiHo-eng commented on #8328
I just went through and it goes into `structure_response_function_utilities.h` and into the the loop where local strain energy is to be caclualted and summed. It runs trough the loop as many times as there are elements (which is a good sign),  althought when when we are in the loop, it does not go into my new element. This is strange because the model is analyzed, i.e. I can open the postprocessin

[2021-02-26 18:13] loumalouomega commented on #8328
But after puting std:::cout does it enter in the function?

[2021-02-26 18:20] PhiHo-eng commented on #8328
No it seems, that it never even enters the function.

[2021-02-26 19:25] loumalouomega commented on #8328
Can you check that you enter the constructor of the element? (to ensure that is even created)

[2021-02-26 19:30] PhiHo-eng commented on #8328
Do you mean [here](https://github.com/PhiHo-eng/Kratos/blob/511beab38161659d94bbcc1baf83d47bff767b63/applications/TopologyOptimizationApplication/custom_elements/small_displacement_simp_element.cpp#L50)?

[2021-02-26 19:31] loumalouomega commented on #8328
In that one and the previous one too (all the creates)

[2021-02-26 19:36] PhiHo-eng commented on #8328
I made a std::cout inside the creation of the elements, and it never gets printed. So this means the elements don't even get created?

[2021-02-26 23:31] loumalouomega commented on #8328
Yep, can you share the input files?

[2021-02-27 08:03] PhiHo-eng commented on #8328
The input files are in [here](https://github.com/PhiHo-eng/Kratos/tree/master/applications/TopologyOptimizationApplication/examples).

[2021-02-27 18:37] loumalouomega commented on #8328
Strange, should work.

Can you try the following?: (to check it enters in the constructor)

NOTE: **Applications imports are missing**

[code]

[2021-02-28 13:56] PhiHo-eng commented on #8328
I tried the code and it seems to work, I don't get an error.

This is the code I used [Code](https://github.com/PhiHo-eng/Kratos/tree/master/applications/TopologyOptimizationApplication/examples/Element_creator_try_out).

[2021-03-01 08:09] philbucher commented on #8328
can you then also try to call `Calculate` from python in this small example to see if it enters there too?

[2021-03-01 08:50] AlejandroCornejo opened #8392 "[StructuralMechanicsApplication] Regsiter new CL variables discussion"
**Description**
Dear @KratosMultiphysics/structural-mechanics @KratosMultiphysics/technical-committee ,

Recently @philbucher added the `ConstitutiveLawsApplication ` and I am wondering where to register the new variables needed for the models (or the currently used).

1. Inside the SMA?
2. Inside the CnstitutiveLawsApp

Thank you,

Alejandro

[2021-03-01 08:57] philbucher commented on #8392
they should be added in the ConstitutiveLawsApp

In fact a leftover is to move the CLaw variables from the StructuralApp to the CLawApp

[2021-03-01 09:20] RiccardoRossi commented on #8392
To complete @philbucher 's answer, do take into account that if you need the variable to be called "with name" inside the structural mechanics, than you will not be able to do this.

What will NOT be allowed is to include the constitutive_law_variables.h from within the structural mechanics (or from any other application)

[2021-03-01 09:33] philbucher commented on #8392
we just discussed this in the @KratosMultiphysics/technical-committee and I want to give a more elaborate answer :)

Currently the `ConstitutiveLawsApplication` depends on (aka includes & links against) the `StructuralMechanicsApplication`. This I did so that I could minimize the changes necessary in #8367 since it would have requires more refactoring. In the future we want to remove this dependen

[2021-03-01 09:34] philbucher commented on #8392
@AlejandroCornejo could you please take a look at which variables are only used in the ConstitutiveLawsApp and move those?
thx

[2021-03-01 09:37] AlejandroCornejo commented on #8392
@SergioJimenezReyes and me are developing new CL. In the PR of this CL we will move all this variables :)

[2021-03-01 10:55] PhiHo-eng commented on #8328
Also with the "self"-made elements, the function Calculate() is not called! It loops over the elements in the [structure_response_function_utlities.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_utilities/structure_response_function_utilities.h) but i wont enter into the Calculate() -function.

[2021-03-01 11:07] philbucher commented on #8328
one thing I noticed is that your `Calculate` method is missing the `override` hence you might not actually override the fct!
=> this means that you end up calling a different function

[2021-03-01 11:07] philbucher commented on #8328
you should add the override, if it no longer compiles you found the error
=> then fix the fct signature until it compiles

[2021-03-01 11:08] #8392 closed

[2021-03-01 12:13] PhiHo-eng commented on #8328
Thank you for the input. I was able to compile it, but it still doesn't work.
But I think I might have found the error. It could be in here: [topology_optimization_application.h](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/topology_optimization_application.h) and  [topology_optimization_application.cpp](https://github.com/PhiHo-eng/Kratos/blob/maste

[2021-03-01 13:17] philbucher commented on #8328
this is definitely one problem
to Kratos your element doesn't exist (in the files you linked they are commented out!)
=> you register the standard small displacement element with a new name

you need to create your new element and fix the compilation

[2021-03-01 13:24] jgonzalezusua opened #8397 "[SDEM] CalculateElementalVolume threshold modified"
**Description**
The problem came from the modification of the `CalculateVolume` function in the script `SwimmingDEMApplication/custom_functions.h`. The threshold to consider the element volume bigger enough to be calculated has been changed making imposible to use meshes with small element sizes (for example, the ones located in the boundary layer). My question is: Can we change again this thresho

[2021-03-01 13:43] PhiHo-eng commented on #8328
I registered the elements and updated my repository, but it seems to cause some kind of problem with the new elements. When I try to compile it I get the following error:

[code]
This are the updated files : [topology_optimizaton_aopplication.cpp](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/topology_optimization_application.cpp) and [topology_optimi

[2021-03-01 13:53] philbucher commented on #8328
looks better

does it work when you comment those lines?
https://github.com/PhiHo-eng/Kratos/blob/bee25ef9d60cb486c27c55b9a70e187a992bd0bf/applications/TopologyOptimizationApplication/topology_optimization_application.cpp#L90-L93

[2021-03-01 14:03] maceligueta commented on #8397
Is the error triggered by this if?
https://github.com/KratosMultiphysics/Kratos/blob/284902a7f196d4c19df9fda53d7bf273f9914016/applications/SwimmingDEMApplication/custom_utilities/custom_functions.h#L630
It's weird that the volume is below that epsilon, though. Anyways, I have two comments:

- better use `geom.Volume()` than an independent method `CalculateVolume(geom)`. I thought about it when I s

[2021-03-01 14:04] PhiHo-eng commented on #8328
No, that still gives me the same error.

[2021-03-01 14:18] jgonzalezusua commented on #8397
I didn't aware about these changes in that script until now.
Yes, it is in that line. I don't know why it was decided to use independent functions, but it should be considered to remove that threshold. For example, in the mesh I am using, the element has a volume of 1.8e-16 while the threshold is 2.21e-16. Before that change, I ran that mesh without any problem in the solution, so I do not think t

[2021-03-01 14:21] maceligueta commented on #8397
Maybe that check was put there to avoid a division by zero. In that case, the check should be outside the function, right before the division.

[2021-03-01 14:25] jgonzalezusua commented on #8397
So it is enough to be different from zero, or at least much smaller than the one introduced

[2021-03-01 14:31] maceligueta commented on #8397
I don't really know. Maybe @GuillermoCasas remembers something about it.

[2021-03-01 14:52] philbucher commented on #8328
ok can you then comment everything related to your element in `topology_optimization_application.h` & `topology_optimization_application.cpp` to see if it works then?

[2021-03-01 14:53] philbucher commented on #8328
another error:
you are not even compiling your element!
https://github.com/PhiHo-eng/Kratos/blob/bee25ef9d60cb486c27c55b9a70e187a992bd0bf/applications/TopologyOptimizationApplication/CMakeLists.txt#L15-L17

there it is missing

[2021-03-01 15:20] emiroglu commented on #7159
I forgot this issue and opened a new one #8375 which has a similar problem. The problem persists from my side. Any ideas on how to work this out? The most current implementation is in [IMWind](https://github.com/KratosMultiphysics/Kratos/tree/IMWind) branch. So far this approach works with truss and volume elements. It also seems to be working with CrBeam element after the modifications I made in

[2021-03-01 15:51] philbucher commented on #7159
Might not be related directly to your issue but could be of importance since it is about the design and the intended use
- The only (yes ONLY) functions that should modify internals of the elements are:
    - `Initialize`
    - `InitializeSolutionStep`
    - `InitializeNonlinIter`
    - `FinalizeSolutionStep`
    - `FinalizeNonlinIter`
    The reason is that those are called at distinct places and

[2021-03-01 15:59] philbucher commented on #8375
my gut says that you shouldn't call `Initialize/FinalizeNonLinIter` between the finite differencing steps. Otherwise as you say the internals get updated which means that you will have a different "starting point" for the next step

=> i.e. the elements should compute on the fly what they need

[2021-03-01 16:00] philbucher commented on #8375
@armingeiser @MFusseder how are you doing this?
you only have linear sensitivities right?

and some time ago in the master thesis you used the serializer if I remember correctly no?

[2021-03-01 16:03] emiroglu commented on #7159
The problem with the corotational elements in general is the necessity for using incremental deformations. For example the CrBeam element modifies the previous deformation in InitializeNonLinearIteration (here) and gets the current deformation and stores it, instead of reading it from SolutionStepValue everytime. In order to make this flexible I had to add a GetValuesVector call to increment defor

[2021-03-01 16:10] PhiHo-eng commented on #8328
The elements seem to work now, but there ar still some issues coming up while running the example. I have to study for an exam for the next two days, so I would deal with those additional complications after the exam. Thanks for the help so far!

[2021-03-01 16:13] philbucher commented on #7159
@KlausBSautter seems like this comes back to haunt us again :D

this was done in #5109
back then @KlausBSautter and I tried a lot to do what was necessary to make the beam work, but we couldn't make it work back then
Maybe we can take another look

for details on how it was done like this see #5109

[2021-03-01 16:14] KlausBSautter commented on #7159
can we finally have some geometrically non-linear beams and shells? :palm_tree:

[2021-03-01 16:33] emiroglu commented on #8375
this is exactly the problem. the increment is computed using element internals and they cannot be updated without initialize/finalize. when it is updated there is no going back. -> not possible to do finite differencing

[2021-03-01 17:16] armingeiser commented on #8375
@mahmoudsesa has used the serializer in order to load the state of a certain load step in a nln analysis into the adjoint elements, in order to do the finite differencing.  He needed to do that, because he needed to compute the sensitivities for several load steps after doing the primal nln analysis once.

However, he did only compute the derivatives of LHS and RHS w.r.t the parameters, not the do

[2021-03-01 17:18] armingeiser commented on #8375
Is it not possible to:

- apply disturbance
- initialize
- calcualte
- finalize
- revert disturbance
- initialize
- finalize

Then the element should be back at its state from before the finite differencing, no?

[2021-03-01 17:23] emiroglu commented on #8375
Then the increment becomes wrong. Well the more important is the quaternion I think which is a dependent variable for the rotation matrices. I will give it a try though but as far as I remember it was giving wrong results

[2021-03-01 17:49] armingeiser commented on #8375
I just think that there has to be a way to revert a displacement, otherwise a loading-deloading cycle would not be possible?

[2021-03-01 18:46] emiroglu commented on #8375
With the current implementation (because the element internals are updated in the initialize function instead of finalize) of the element it only works like this for central differencing:
- assuming InitializeNonLinearIteration was already called in the strategy
- forward step
  - apply perturbation
  - InitializeNonLinearIteration
  - FinalizeNonLinearIteration
  - CalculateLHS
- backward step

[2021-03-02 09:45] #7602 closed

[2021-03-02 09:46] AlejandroCornejo commented on #8357
https://github.com/KratosMultiphysics/Kratos/pull/8401

[2021-03-02 11:12] #5264 closed

[2021-03-02 11:13] #1926 closed

[2021-03-02 11:13] #3874 closed

[2021-03-02 11:13] #4833 closed

[2021-03-02 11:13] #7814 closed

[2021-03-02 11:20] AlejandroCornejo opened #8403 "[CORE] Proposal: changing the Vector/Matrix handling from Vector to BoundedVector/BoundedMatrix"
**Description**
Dear @KratosMultiphysics/all ,

For a few months we have been thinking (@RiccardoRossi ) in modifying the interface of the `ConstitutiveLaw` and deprecating the use of `Vector`and `Matrix` types and using the `BoundedVector `and `BoundedMatrix `types of whicxh tghe size is known at compile time (can be resized afterwards).

In theory it will increase the velocity of the calculation

[2021-03-02 11:36] maceligueta commented on #8403
What do you mean with 'can be resized afterwards'?

[2021-03-02 11:39] AlejandroCornejo commented on #8403
The thing is that a priori yo do not know the Voigt Size for example. You'll have to assume that is 6 and, if your problem is in 2D you can resize the matrix to the correct size

[2021-03-02 11:58] loumalouomega opened #8404 "[CI] Adding not cotired compilation to CI"
**Description**
Adding not cotired compilation to CI in order to avoid the problems that appear after a merge and the not cotired compilation fails. This is because there is not cotired CI right now, and the CI does not block the merge

@KratosMultiphysics/technical-committee

[2021-03-02 12:10] AlejandroCornejo opened #8405 "Documentation about the RESTART features in Kratos"
**Description**
Dear all,

I am currently trying to  use the **restart** in the `PfemFluidDynamicsApplication` and I've managed to print the restart file but, once I try to load it, it crashes without any msg (`Release`and `FullDebug`).

I know that in order to be able to use the restart it is necesary to add the serializer to the elements, conditions and constitutive laws of the problem (already

[2021-03-02 12:41] Theshahzeb commented on #1821
Hi, I tried to extract mass and stiffness matrices of a model with no boundary conditions using [structural_mechanics_custom_scipy_base_solver.py](https://github.com/Theshahzeb/static-beam/blob/main/structural_mechanics_custom_scipy_base_solver.py) but i get a type error that says [SetToZeroMatrix(): incompatible function arguments](https://github.com/Theshahzeb/static-beam/blob/main/incompatible_

[2021-03-02 13:10] manuelmessmer commented on #1821
How do you run your analysis? With
[code]

[2021-03-02 13:18] mpentek commented on #8405
FluidDynamicsApp and StructuralMechanicsApp works with restart, both OpenMP and MPI, so it will by something specific to the app.

[2021-03-02 13:20] AlejandroCornejo commented on #8405
Yes! This is the first thing I tested to be confident with it :). My question is more about the "requirements" or "conditions" that must be fulfilled in order to properly work. THX in any case

[2021-03-02 14:14] Theshahzeb commented on #1821
I am running [structural_mechanics_scipy_base_solver.py](https://github.com/Theshahzeb/static-beam/blob/main/structural_mechanics_custom_scipy_base_solver.py) (in the GiD model folder) with modified ` SolveSolutionStep` and
[code]

[2021-03-02 14:22] manuelmessmer commented on #1821
This will not work, because you need an analysis_stage (In your case `StructuralMechanicsAnalysis(model,parameters)`)  to set up your solvers properly. Then you can start the simulation with Run(). All functions such as `InitializeSolutionStep()`, `SolveSolutionStep()` etc.. will then be called in there. In your case the previous steps are not called and the matrices are not constructed yet. Most

[2021-03-02 16:29] philbucher commented on #8405
I recommend using the ascii format (this can be chosen in the restart utility) when debugging restarts
and afaik the only requirement is to have all the variables in the serializer

[2021-03-02 16:45] maceligueta commented on #8403
I was as confused as this guy: https://stackoverflow.com/questions/2068408/ublasbounded-vector-being-resized

[2021-03-02 19:01] roigcarlo commented on #8404
Agree with @loumalouomega, but we have to carefully thing when. Non cotire compilation can be long. Maybe we should schedule it with the nightlies.

[2021-03-02 20:50] loumalouomega commented on #8403
+1 for this (Besides, I said this some yeas ago)

[2021-03-02 21:25] RiccardoRossi commented on #8403
well, this is actually useful, ecen though stack_allocated_matrix wpuld
have been better

On Tue, Mar 2, 2021, 9:50 PM Vicente Mataix Ferrándiz <
notifications@github.com> wrote:

[2021-03-02 21:47] AlejandroCornejo commented on #8403
That's totally true and understandable, the reality is this: _actually can be resized, it may only not be greater than the size specified as template parameter._ This is what we we'll take advantage of.

[2021-03-03 08:04] armingeiser opened #8413 "Node numbering of quadratic Hexa element in Wiki does not match source"
**Description**
The node numbering for the quadratic Hexa Element in the [Wiki](https://github.com/KratosMultiphysics/Kratos/wiki/Mesh-node-ordering#hexahedron) does not match the numbering as shown in the source files for [3D20](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/geometries/hexahedra_3d_20.h) and [3D27](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/g

[2021-03-03 09:09] loumalouomega commented on #8413
I assume right one is the code ...

[2021-03-03 09:47] emiroglu commented on #8375
The order of the calls in my last message seems to be working with ShellThickElementCorotational3D4N too. With this I am closing this issue since it seems to be working for quite some elements. I tested the following elements:

- TrussElement3D2N
- CrBeamElement3D2N
- TotalLagrangianElement3D8N
- ShellThickElementCorotational3D4N

I will extend the list if I test and validate with more elements.

[2021-03-03 09:47] #8375 closed

[2021-03-03 09:52] emiroglu commented on #7159
Please see #8375 . There I computed derivatives of the element matrices with the order of calls given in [this](https://github.com/KratosMultiphysics/Kratos/issues/8375#issuecomment-788181505) comment. It seems to be working with the following elements:
- TrussElement3D2N
- CrBeamElement3D2N
- TotalLagrangianElement3D8N
- ShellThickElementCorotational3D4N

[2021-03-03 09:52] #7159 closed

[2021-03-03 10:27] Vahid-Galavi opened #8414 "add -Wl,--no-as-needed -ldl to build scripts of Linux"
**Description**
In order to be able to load dynamic link libraries (shared libraries) in an application, we need to add the following compile options to the build scripts:

-Wl,--no-as-needed -ldl

Can we add these options to the template build scripts?

[2021-03-03 10:28] #8357 closed

[2021-03-03 10:28] Vahid-Galavi commented on #8357
This issue can be closed as it has been solved.

[2021-03-03 12:06] GuillermoCasas commented on #8397
I do not think it is correct to invoke the stad epsilon here. First, it is a length scale cubed, second, there is no mathematical/numerical problem with calculating the volume wth such small values. I would leave it at <=0, since it is non-(strictly)positive numbers that are wrong strickly speaking. Thus, it is necessary to change the error message as well.

[2021-03-03 14:23] e-dub opened #8416 "Error in ConstitutiveModelsApplication when compiling"
**Description**
I just compilied for for the first time in a while and it is giving me an error with the constitutive models application. Did I miss something that has changed in the past couple months? Anyone else have this issue?
[code]

**Environment**
- OS: Kubuntu 20.10
- Branch: master
- Python 3.8.6

[2021-03-03 15:00] sunethwarna opened #8418 "[CI/Trilinos] CI fails due to timeout in Trilinos MPI tests"
**Description**
The CI was failing in different compilers at different times due to timeout in running `TrilinosApplication` mpi tests. (Eg: in the PR #8141). I have put the same PR for a re-run (I merged the master again just to be sure).

It also fails now in Windows compilation. (Earlier it was only timeout failure on the above mentioned tests)

The windows error msg:
[code]

**Scope**
- CI
- M

[2021-03-03 15:08] sunethwarna commented on #8418
@rubenzorrilla @mrhashemi may be you guys have an idea?

[2021-03-03 15:10] philbucher commented on #8418
I am pretty sure this is caused by #7896

[2021-03-03 15:36] rubenzorrilla commented on #8418
Most probably yes, but we didn't add new tests in that PR. I can understand how we get out of time. About the heap space of the Windows compilation, I've no clue.

[2021-03-03 15:38] philbucher commented on #8418
you did!
https://github.com/KratosMultiphysics/Kratos/pull/7896/files?file-filters%5B%5D=.cpp&file-filters%5B%5D=.h&file-filters%5B%5D=.py#diff-5a3a46bd0060745436199d2785b66037492f8fed8594780378d25f8fabc9ecc2R121-R221

[2021-03-03 15:42] #8405 closed

[2021-03-03 16:44] rubenzorrilla commented on #8418
True. Same test but with different settings. Sorry...

[2021-03-03 16:53] rubenzorrilla commented on #8418
@mrhashemi would reduce the number of steps run in the test in a future PR. In the meantime lets move the long tests to the nightly suite.

[2021-03-03 17:04] philbucher commented on #8416
seems like this App is missing the update for #7381

[2021-03-03 17:21] philbucher commented on #8404
usually by then it is too late and we have fixed it already :)

[2021-03-03 18:11] philbucher commented on #8418
Fixed

[2021-03-03 18:11] #8418 closed

[2021-03-03 19:56] #8416 closed

[2021-03-04 08:27] rubenzorrilla commented on #8319
Couldn't it be that we are using the same linear solver for the NS problem and for the level set convection, whose block sizes are different?

@RiedlAndreas do you know at which point the simulation crashes?

[2021-03-04 11:23] roigcarlo commented on #8414
Sure, I would add it directly to CMakeLists.txt to be honest, but both should work both ways

[2021-03-04 12:15] rubenzorrilla commented on #8346
Fixed in #8390.

[2021-03-04 12:15] #8346 closed

[2021-03-04 18:38] #7536 closed

[2021-03-05 09:33] rubenzorrilla opened #8433 "[Core] Mixed generic criteria check DOFs"
**Description**
In #8423 we discussed the possibility of checking that the variables provided to the `MixedGenericCriteria` convergence criterion are a DOF.

I'm not sure if there is any specific application in which we would require to check the convergence with non-DOF nodal variables. If this is the case the proposed check would make no sense.

[2021-03-05 13:20] armingeiser commented on #8414
In LinearSolversApp we have added them to CMakeLists.txt as @roigcarlo  suggests:

https://github.com/KratosMultiphysics/Kratos/blob/62a6224dc27c53f853c49d4e9b76b6be22735180/applications/LinearSolversApplication/CMakeLists.txt#L35

[2021-03-08 08:46] maceligueta opened #8444 "[dem] Check if the intersection function should use geom.size() or geom.WorkingSpaceDimension()"
**Description**
This doubt comes from PR #8428. @joaquinirazabal , can you take a look when possible?
Tagging @KlausBSautter

**TODO**
[ ]  Check if the intersection function should use geom.size() or geom.WorkingSpaceDimension() in GeometryFunctions.h

[2021-03-08 08:59] KlausBSautter commented on #8444
To clarify:
It used to be `geom.size()` before I changed it to `geom.WorkingSpaceDimension()` a while ago. This was when I started my work and I am sorry but cannot really remember what I thought back then. When I wrote the additional function for a the RigidEdge/Face1N3D I realized that this should be `geom.size()`, I think.

By looking at the code we see that
if `geom.size() == 1: VertexCheck`
i

[2021-03-08 11:45] philbucher commented on #8404
I will take care of this once #8384 is merged

[2021-03-09 09:14] philbucher opened #8452 "Nightly Build failing in FluidDynamics"
**Description**
From last night, first time this happened
[code]

Happens only with CLANG for some reason

[2021-03-09 10:50] ddiezrod commented on #8452
I have found this problem in other cases using amgcl. The solution in my case was to use scaling = true, as it seemed that the problem was somehow related to machine precision. You could maybe give it a try...

[2021-03-09 15:55] KlausBSautter opened #8457 "[Structural] Lumped factors in Massmatrix for TL"
Hi, I stumbled across the following lines in the base solid element:
https://github.com/KratosMultiphysics/Kratos/blob/53f15798b4dc46d8a0f60c3ca1cbece0be3a1557/applications/FemToDemApplication/custom_elements/base_solid_element.cpp#L1689-L1698

and ran a simple test with a hexahedron and a tetrahedron:
[check_lump.gid.zip](https://github.com/KratosMultiphysics/Kratos/files/6109702/check_lump.gid.z

[2021-03-09 15:58] loumalouomega commented on #8457
This may be because there are three algorithms for the lumped factors in the geometry. Maybe there is an error in the input.

[2021-03-09 16:13] philbucher commented on #8457
probably again an issue that we cannot compute stuff on the original configuration

[2021-03-09 16:18] loumalouomega commented on #8457
That makes even more sense

[2021-03-09 16:24] KlausBSautter commented on #8457
I checked the other options and from
lumping_factors : (0.125,0.125,0.125,0.125,0.125,0.125,0.125,0.125)

we get
lumping_factors : (0.119421,0.119421,0.130579,0.130579,0.119421,0.119421,0.130579,0.130579)
lumping_factors : (0.116633,0.116633,0.133367,0.133367,0.116633,0.116633,0.133367,0.133367)
lumping_factors : (0.108636,0.108636,0.142112,0.142112,0.108636,0.108636,0.142112,0.142112)
for the 3 d

[2021-03-09 16:26] loumalouomega commented on #8457
Probably should be computed at the reference configuration. But the methods are correct. It is documented in the code and with the proper tests

[2021-03-09 16:30] KlausBSautter commented on #8457
Yes, that is what I meant :)

[2021-03-09 19:33] RiccardoRossi commented on #8457
do think into account that the density distribution would also vary.

considering tjat the mass should remain the same

On Tue, Mar 9, 2021, 5:30 PM Klaus Bernd Sautter <notifications@github.com>
wrote:

[2021-03-10 13:16] armingeiser opened #8460 "[ShapeOpt] penalized_projection algorithm gives NAN update if constraint gradient is 0"
**Description**
The `penalized_projection` algorithm computes a NAN update if constraint gradient is zero everywhere.

**Scope**
- ShapeOptimizationApplication

**To Reproduce**
-

**Expected behavior**
Should give a warning and continue.

**Environment**
- OS: Ubuntu 20.04
- Branch: master
- Python 3.8

[2021-03-10 17:59] loumalouomega commented on #8457
I will post a potential solution soon, but one point @AlejandroCornejo do you still have your solid copy/pasted?, you will need to update to recent changes or unify to depend on the StructuralApp.

[2021-03-11 13:06] Theshahzeb commented on #1821
hello, i apologize for the delayed response, the analysis_stage solved the problem, reads the files correctly and runs without errors but it does not go into the functions like [_MassMatrixComputation](https://github.com/Theshahzeb/static-beam/blob/dc10c2417fb0851acbfa9135402ad8ce48ad77af/solid_beam.gid/structural_mechanics_custom_scipy_base_solver2.py#L78) & [SolveSolutionStep](https://github.com

[2021-03-11 14:06] rubenzorrilla opened #8470 "[MPI] Quaternion<double> and communicator"
**Description**
We lack the implementation of the MPI communication of `Quaternion<double>` variable data types. This precludes adding synchronizing directives in functions templated with the data type (e.g. `VariableUtils`).

[2021-03-11 15:04] rubenzorrilla commented on #8266
@mrhashemi is this solved?

[2021-03-11 15:26] philbucher commented on #8470
Do you have a usecase?

[2021-03-11 15:37] rubenzorrilla commented on #8470
No. But we either remove the `Variable<Quaternion<double>>` instantiations in the `VariableUtils` exports to Python or we add the communication.

[2021-03-11 16:35] mrhashemi commented on #8266
Seems so. It was just for informing that the _#include_ requirements might be different in some cases.
Anyway, I think I can close it.

[2021-03-11 16:35] #8266 closed

[2021-03-12 08:16] manuelmessmer commented on #1821
It might be that your python script is not in the correct folder. Basically you have two options. Either you modify the original base_solver and recompile (it will move it then to the bin folder, from where it is called). Or you keep everything in your new file `structural_mechanics_custom_scipy_base_solver2.py`, but then you have to specify this file in your ProjectParameter.json. If you do so, i

[2021-03-12 09:58] Theshahzeb commented on #1821
Thank you so much, this makes sense now. I'd go for the 2nd option but i specify my new file `structural_mechanics_custom_scipy_base_solver2.py` here in the [ProjectParameters.json](https://github.com/Theshahzeb/static-beam/blob/main/solid_beam.gid/ProjectParameters.json)
[code]
right?

[2021-03-12 10:10] philbucher opened #8472 "Windows CI failing"
Dear @KratosMultiphysics/all

You might have experienced failures in the Windows CI since yesterday evening. This is because Github no longer provides boost in their environment (see https://github.com/actions/virtual-environments/issues/2667)

The @KratosMultiphysics/technical-committee is aware of this and working on a solution.
Unfortunately no PRs can be merged until this is fixed, sorry for t

[2021-03-12 10:12] loumalouomega commented on #8472
At least we depend of boost as header only, it will be relatively easy to solve (but I assume that CI will take a little longer because the time of downloading and decompressing boost)

[2021-03-12 10:12] philbucher commented on #8452
now it fails also in GCC:
[code]

@mrhashemi we are trying hard to have the nightly build working at all times as this is very important for the representation of Kratos.
Could you please take a look soon?
If you don't have time atm then I would deactivate the test for the moment until you have time to fix it

[2021-03-12 10:14] armingeiser commented on #8472
Could we not provide boost headers the same way we do for pybind, eigen, etc?
Or is there a specific reason to not do so?

[2021-03-12 10:15] philbucher commented on #8472
thats essentially what we are trying to figure out right now

[2021-03-12 10:16] philbucher commented on #8472
I think the main reason for this is bcs boost is quite big / has many files
Also we cannot only use ublas, there are many cross-references unfortunately

[2021-03-12 10:27] mrhashemi commented on #8452
@philbucher  and @rubenzorrilla
Actually, I did not create/modified this test but I further checked:
The problem is with the "TwoFluidNoRedistanceSolver". It needs a specific definition for the FinalizeSolutionStep.

[2021-03-12 10:30] mrhashemi commented on #8452
Or more simply, use: "distance_reinitialization": "none"

[2021-03-12 11:14] manuelmessmer commented on #1821
Yes, but your file must still be in the correct folder. Otherwise, Kratos will not find it. The other option would be easier, but that's up to you.

[2021-03-12 12:54] philbucher commented on #8472
The problem has been fixed

Please merge master in order to fix the Windows Build in the CI

[2021-03-12 12:54] #8472 closed

[2021-03-12 14:43] PhiHo-eng commented on #8328
Hi, thank you again for helping me out! It helped a lot and I was able to modify the code even further.

Now I am stuck at a new problem. The code is running. To calculate the compliance I need the displacement of every element. With the compliance, density and the additional sensitivities I can rearrange the elements and start a new iteration. But the calculated displacement is always the same, i

[2021-03-12 15:33] philbucher commented on #8328
It seems to me like you are not calling `Calculate` anywhere which I think is where you would calculate the updates

[2021-03-12 15:39] PhiHo-eng commented on #8328
So you think I should call `Calculate` in `residualbased_incrementalupdate_static_simp_scheme.hpp` in order to update the stiffness Matrix?

[2021-03-12 15:48] e-dub commented on #1821
I just implemented a "new" solver, i.e. the "other option" to do this and I can indeed extract the matrices correctly: [new solver].(https://github.com/KratosMultiphysics/Kratos/blob/struct/extract-ssysem-matrices/applications/StructuralMechanicsApplication/python_scripts/structural_mechanics_system_matrix_extraction_solver.py)

I am now trying to think of the best way to get these then into the p

[2021-03-12 15:53] PhiHo-eng commented on #8328
But the updates in Calculate should only be relevant for the calculation of the Compliance. I think the problem is either in the FEM analysis or in the update of the global or elemental stiffness matrix for the FEM analysis. I not sure if this makes sense?

[2021-03-12 15:59] manuelmessmer commented on #1821
I am not sure if I understand correctly. In the `SolveSulutionStep()` you should have the matrices in python then? Or what is your final goal with the matrices?

[2021-03-12 16:06] e-dub commented on #1821
Maybe it is a mistake in my thinking.  I would like to have a general extraction method that I can use with any model.  What is the easiest way to pass it from the solver back into the "main" Python file, which I use to call the model? ...maybe I am overthinking this  though (or underthinking...Friday).

[2021-03-12 17:11] #8452 closed

[2021-03-15 08:46] manuelmessmer commented on #1821
Well, the solver was "only" designed to solve/ manipulate the matrices with scipy etc.. So you still have the normal Kratos wokrflow and can run nonlinear SolutionLoops.
So obviously, you can just pass the matrices from the `SolveSolutionStep`to any python function. However, to actually return them you would have to override the `RunSolutionLoop` of the analysis stage. Or call the functions below

[2021-03-15 09:28] philbucher commented on #8328
Hm I am confused now
Can you briefly explain what you want to achieve?
I.e. what should be done in which order? I only know the basics of TopOpt but not the implementation in detail

[2021-03-15 09:50] PhiHo-eng commented on #8328
This is how it should work: I have a defined area with a certain volume fraction, that can be changed. The densities of my different elements are distributed on my element, so that the volume fraction constrain is satisfied (in the first run every element has an percentage density of the defined volume fraction).
With this data i am running a FEM analysis in order to get my displacement on every n

[2021-03-15 16:32] joaquinirazabal commented on #8444
Hi @KlausBSautter and @maceligueta. I think you are talking about the file rigid_face_geometrical_object_configure.h

**geom.size()** is correct, **geom.WorkingSpaceDimension()** is wrong. The explanation is exactly what Klaus pointed out:

if geom.size() == 1: VertexCheck
if geom.size() == 2: Edge&VertexCheck
if geom.size() > 2: Face&Edge&VertexCheck

The working dimension does not apply here.

T

[2021-03-15 16:41] KlausBSautter commented on #8444
then we can close this. Thanks @joaquinirazabal :)

[2021-03-15 16:41] #8444 closed

[2021-03-16 08:36] PhiHo-eng commented on #8328
It seems like, the ResidualBasedIncrementalUpdateSIMPScheme is never even launched. It should be inplemented in here as a new UpdateScheme: [topology_optimization_simp_static_solver.py](https://github.com/PhiHo-eng/Kratos/blob/30a0667ba14432902af4e51898f2bfde0d042767/applications/TopologyOptimizationApplication/python_scripts/topology_optimization_simp_static_solver.py#L17-L18)
But it seems, that

[2021-03-16 15:23] vdivine opened #8496 "[Core, MPI] add a GlobalPointerMapCommunicator returning data"
We need a mix betwwen a GlobalPointerCommunicator and GlobalPointerMapCommunicator :
Either a pointer comm which accepts arguments or a map comm which return data.
@pooyan-dadvand

[2021-03-16 15:36] RiccardoRossi commented on #8496
can u describe the serial loop you need to parallelize?

[2021-03-16 16:24] vdivine commented on #8496
Yes, sure Riccardo.
We have coordinates of a point (information available on one partition only), and we need to know in which element from a model part it is (we use geometrical object bins). This element can be on any partition.
Then, we want to do some modifications on this element (on non historical variable), and retrieve some information from this element (like velocities on nodes) to modify

[2021-03-17 11:51] RiccardoRossi commented on #8496
Hi Vincent, the operation you describe will never be very efficient, since you would have to ask for it to everyone.

don't you have any way of rewriting the workflow so that it is not needed?

[2021-03-17 12:09] pooyan-dadvand opened #8500 "TestSensitivityUtilitiesTwoDimSymmetricalSquare is failing in MPI with 8 partitions"
**Description**
The sensitivity tests are failing when running them in MPI with 8 partitions. It works fine for fewer processes. In full debug the error is:
[code]
I think that there are nodes that do not belong to any condition when the partition is very small.

**Scope**
- KratosCore
- Unit testing

**To Reproduce**
mpiexec  -n 8 python kratos/kratos/tests/test_sensitivity_utilities.py

**Enviro

[2021-03-17 14:41] rubenzorrilla commented on #8319
Solved in #8487

[2021-03-17 14:41] #8319 closed

[2021-03-18 09:28] #8500 closed

[2021-03-18 15:36] vdivine commented on #8496
Actually, on short term solution, i need something working, so i'm working with PointerComm and PointerMapComm, it should work. But as you said, it won't be very efficient, so i'll rewrite the workflow. Thanks.

[2021-03-18 16:45] PhiHo-eng commented on #8328
I still haven't been able to find the error.
In order to visualize the workflow I made a quick pdf to show how things should work. Maybe you see the error in my thought process.
[Ablauf_ueberarbeitet.pdf](https://github.com/KratosMultiphysics/Kratos/files/6165773/Ablauf_ueberarbeitet.pdf)

[2021-03-18 22:20] philbucher commented on #8328
Hi, sorry for the late reply, always busy :)
Thx for the pdf, now I understand much better what you are doing
You write above that you use the displacement (I mean `DISPLACEMENT` in Kratos terms) but I cannot see where you use it.

Or do you mean that you are only modifying the LHS and the RHS (what you do in your Scheme)?

Did you get it to work in the meantime? I.e. is your Scheme getting called

[2021-03-19 06:13] PhiHo-eng commented on #8328
Don't worry about that! I am really glad you are taking the time to look into this.

Oh yes, I forgot to describe the displacement. In the s`mall_displacement_simp_element.cpp` the `DISPLACEMENT` is calles with `FastGetSolutionStepValue()` in order to calculate the `local_strain_energy`. But I fear that the Displacement never changes due to the non-updated LHS and RHS.

Also when I run the program

[2021-03-19 08:22] philbucher commented on #8328
I just saw that your Scheme is missing the `override` for `CalculateSystemContributions`
I am guessing you took it out bcs it didn't compile?
Can you add it? If it does not compile any more then you found an error => update the signature and make it compile

I will reply later to the other problems

[2021-03-19 08:27] PhiHo-eng commented on #8328
I added the override, but it does not make a differnece. It still does not update the model and I get the same Diplacements in every iteration.

[2021-03-19 08:39] PhiHo-eng commented on #8328
I also pushed the code with the override: [residualbased_incrementalupdate_static_simp_scheme.hpp](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/custom_strategies/custom_schemes/residualbased_incrementalupdate_static_simp_scheme.hpp)

[2021-03-19 11:13] pooyan-dadvand commented on #8496
I think that  @vdivine didn't describe the algorithm well. The first part is to check if we are in the same element. In that case we should send our current coordinates to the element (on other partition) and return a bool saying if is inside or not. Here is the psuedo code:

[code]

Then for the real search in fact we do test the bounding box of the partition before testing all. But then again we

[2021-03-19 12:22] ashishdarekar opened #8508 "Related to the header file "calculate_octree_signed_distance_to_3d_skin_process.h""
**Description**
While Porting OMP stuff to Parallel Utilities (in PR #8507):
I have observed that, this [header file](https://github.com/KratosMultiphysics/Kratos/blob/master/kratos/processes/calculate_octree_signed_distance_to_3d_skin_process.h) is not included in the compilation or not used anymore, is it so? Because, I made some mistakes in this file (which I got to know later) not being recogn

[2021-03-19 13:08] RiccardoRossi commented on #8496
i am not sire of how this would look like...but make a proposal and let s think about...

tagging also @sunethwarna

[2021-03-20 09:23] ZhimingGuo opened #8511 "problem with structrualmechanicsapplication test"
**Description**
There is one error when i execute the test periodic_bc_example. please check the following.

**Error information**
 File "C:\Users\gzm\Desktop\KRATOS\Kratos\bin\Release\KratosMultiphysics\StructuralMechanicsApplication\structural_mechanics_solver.py", line 335, in import_constitutive_laws
    KratosMultiphysics.ReadMaterialsUtility(material_settings, self.model)
**RuntimeError: Err

[2021-03-21 03:13] ZhimingGuo opened #8513 "How to replace the ExternalSolversApplication with something else?"
**Description**
For particlemechanicsapp, threre is one probleme when running test.

**Error**
  File "C:\Users\gzm\Desktop\KRATOS\Kratos\bin\Release\KratosMultiphysics\ParticleMechanicsApplication\mpm_solver.py", line 353, in _CreateLinearSolver
    return linear_solver_factory.ConstructSolver(linear_solver_configuration)
  File "C:\Users\gzm\Desktop\KRATOS\Kratos\bin\Release\KratosMultiphysics\p

[2021-03-22 08:35] philbucher commented on #8508
@KratosMultiphysics/technical-committee is this file used?
It is included nowhere, can we just remove it?

[2021-03-22 08:37] philbucher commented on #8414
@Vahid-Galavi can you make a corresponding PR?
I think it is easier to decide then

[2021-03-22 08:38] philbucher commented on #8372
closing as I don't think I really need this

[2021-03-22 08:38] #8372 closed

[2021-03-22 08:43] philbucher commented on #8513
you should use the LinearSolversApplication
@KratosMultiphysics/mpm

[2021-03-22 09:04] philbucher commented on #8511
@KratosMultiphysics/structural-mechanics there are still some test using super old input files

@KlausBSautter @adityaghantasala (and maybe others) could you please take a look at your examples? It is not much work, I updated already some tests last week

[2021-03-22 09:49] ZhimingGuo commented on #8513
The question is how to modified or replace **ExternalSolversApplication** with **LinearSolversApplication**?  in which python file?

[2021-03-22 09:55] ZhimingGuo commented on #8513
Iｔｒｉｅｄpython_linear_solver_factory.py

[2021-03-22 10:04] ZhimingGuo commented on #8513
I tried to delete the ExternalSolversApplication line in python_linear_solver_factory.py, but it did work.

[2021-03-22 10:09] philbucher commented on #8513
which version of Kratos do you use?

[2021-03-22 10:10] philbucher commented on #8513
and could you share your ProjectParameters?

[2021-03-22 10:43] rubenzorrilla commented on #8508
At first glance, this seems a protoversion of our current signed distance algorithm. I've never used it and I don't think we will introduce it in our current level set methods.

In any case, I'd wait @pooyan-dadvand to give his opinion.

[2021-03-22 11:47] ZhimingGuo commented on #8513
{
    "problem_data"     : {
        "problem_name"  : "granular_flow_2D",
        "parallel_type" : "OpenMP",
        "echo_level"    : 0,
        "start_time"    : 0.0,
        "end_time"      : 2.0
    },
    "solver_settings"  : {
        "solver_type"                        : "Dynamic",
        "model_part_name"                    : "MPM_Material",
        "domain_size"

[2021-03-22 11:53] ZhimingGuo commented on #8513
Find the place to modified in ProjectParameters, Thanks.

[2021-03-22 11:53] philbucher opened #8515 "[Mapping] How to do mapping when some ModelParts do not exist on some ranks?"
I am currently developing the Mapping/CoSim when one solver runs on not all ranks (in MPI). In this case the `ModelParts` of this solver don't exist on the other ranks.
E.g. FSI with 10 MPI Processes, where Fluid uses all 10 but Structure only uses 5 (rank 0-4)
Since I am doing black box coupling I cannot modify the solvers
The input for the `MapperFactory` is two `ModelPart`s. On rank 0-4 this is

[2021-03-22 11:54] philbucher commented on #8513
cool
as you found yourself you specified explicitly to use the ExternalSolversApp

[2021-03-22 11:58] #8513 closed

[2021-03-22 16:12] philbucher commented on #8328
do you need to update the displacements yourself or should this be done automatically (based on you changing the x_phys)?

[2021-03-22 16:14] PhiHo-eng commented on #8328
This should be done automatically based on x_phys.

[2021-03-22 17:00] philbucher commented on #8328
ok

have you confirmed that `CalculateSystemContributions` of your scheme is called? (and not `CalculateLHSContribution` and `CalculateRHSContribution`)
I don't know by hard what the strategy calls

[2021-03-22 17:03] PhiHo-eng commented on #8328
It seems, that the Schme is set as `ResidualBasedIncrementalUpdateStaticSIMPScheme`, but the `CalculateSystemContributions` is never even called.

[2021-03-22 17:25] philbucher commented on #8328
ok then that is a problem
Looking at the [example  you posted above](https://github.com/PhiHo-eng/Kratos/blob/master/applications/TopologyOptimizationApplication/examples/01_Small_Cantilever_Hexahedra_Klein/run_TopOpt.py#L75-L93) the calls should go through the [strategy](https://github.com/PhiHo-eng/Kratos/blob/master/kratos/solving_strategies/strategies/residualbased_linear_strategy.h#L673) to t

[2021-03-22 18:54] PhiHo-eng commented on #8328
In the meantime I updated the solving procedure.

Solver, Scheme etc. is set with [solver.Initialize()](https://github.com/PhiHo-eng/Kratos/blob/36ec0d86b725f69d807986b97e9c6ee48aa1bd06/applications/TopologyOptimizationApplication/examples/01_Small_Cantilever_Hexahedra_Klein/run_TopOpt.py#L64), here the solver is set to `ResidualBasedBlockBuilderAndSolver`. The strategy is set to `ResidualBasedLin

[2021-03-23 12:00] philbucher commented on #8328
I don't think so
I am really confused tbh where this is going wrong...

can you check what is the output of the `Info` function of the Scheme in several places? (remember to override it otherwise it will not give useful info)